<!doctype html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<title>まちがいさがし　パズルメイト</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<!--OGPタグ-->
<meta property="og:title" content="まちがいさがし　パズルメイト">
<meta property="og:type" content="website">
<meta property="og:description" content="まちがいさがし　パズルメイトがお届けする、間違い探しのパズルが盛りだくさん！">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:site_name" content="まちがいさがし　パズルメイト">

<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/machigaigame/css/lp/import.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/machigaigame/css/lp/flexslider.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/machigaigame/css/lp/top.css') }}">

<style type="text/css">

        a.boxclose{
            float:right;
            width:26px;
            height:26px;
            background:transparent url({{asset('/bundles/machigaigame/images/lp/cancel.png')}}) repeat top left;
            margin-bottom: 0px;
            margin-right:  0px;
            cursor:pointer;
        }

</style>

</head>
<body>
<div id="fb-root"></div>
<div id="wrapper">
<div id="sb-site">


<div id="floating-menu">
	<div class="box" id="box" ;"><a class="boxclose" id="boxclose"></a>
		<h1>オススメアプリ</h1>
		<p>
				<!-- //▼PANNEL IMAGE(追従バナー)▼// -->
               	<a href="https://bbq-g.com/asp/">
				<img src="{{ asset('/bundles/machigaigame/images/lp/bbq_prezent.png') }}">
				</a>
				<!-- //▲PANNEL IMAGE(追従バナー)▲// -->
        </p>
	</div>
</div>


<header>

<!-- //▼MENU▼// -->
<div id="floating-menu">
	<div class="menubox" id="menubox">
		<p id="btnGnavi"><img alt="メニュー" src="{{ asset('/bundles/machigaigame/images/lp/btn_menu_open.png') }}"></p>
	</div>
</div>
<!-- //▲MENU▲// -->


<div id="headImg">
		<a href="https://machigai.puzzle-m.net/top">
		<!-- //▼MAIN IMAGE▼// -->
		<img src="http://smpbanner.hubase-i.net/sougoulp/main_image.png">
		<!-- //△MAIN IMAGE△// -->
		</a>
	</div>


<!--****-->
<article id="headTop" class="clearfix">

<!-- //▼HEADER logo▼// -->
	<h1 id="logo"><a href="https://machigai.puzzle-m.net/top"><img alt="まちがいさがし　パズルメイト" src="{{ asset('/bundles/machigaigame/images/lp/header2.png') }}"></a></h1>
<!-- //△HEADER logo△// -->
</article>

</header>




<!-- //▼CONTAINER▼// -->
<div id="container">

<!--**▼oubo button**-->
<p class="oubo">▼タップして空メール送信で応募できます！▼<a href="mailto:present@machigai.puzzle-m.net?subject=LINEコイン応募&amp;body=何も入力せずに
このまま送信してください。
 &lt;br /&gt;
当選者の方にはメールにてご連絡させていただきます。
 &lt;br /&gt;
※複数送信されても当選確率は変動致しません。"><img alt="oubo" src="{{ asset('/bundles/machigaigame/images/lp/20150205_lp_01.png') }}" ></a><a href="{{ asset('/apply/show/attention.html') }}">注意事項はこちら</a>

</p>


<!--**△oubo button**-->

<!--**▼yokoku▼-->
<p class="yokoku">▼3月の予告▼<img alt="yokoku" src="{{ asset('/bundles/machigaigame/images/lp/yokoku.png') }}" ></p>※スケジュールが変動する場合もございます。
<!--**△yokoku**-->

<!--**▼title▼-->
<p class="menuLineDouble">話題のキャンペーン</p>
<!--**△title**-->

<!--**▼Slider IMAGE**-->
<article class="flexslider">
<ul class="slides">
	<li><a href="https://bbq-g.com/asp/"><img alt="puzzle present campaign 01" src="http://smpbanner.hubase-i.net/sougoulp/slide_image_1.png"></a></li>
	<li><a href="https://ausp.puzzle-m.net/"><img alt="puzzle present campaign 02" src="http://smpbanner.hubase-i.net/sougoulp/slide_image_2.png"></a></li>
	<li><a href="https://bbq-g.com/asp/"><img alt="puzzle present campaign 03" src="http://smpbanner.hubase-i.net/sougoulp/slide_image_3.png"></a></li>

</ul>
</article>
<!--**△Slider  IMAGE**-->





<!--**▼Twitter▼**-->
<p class="tw"><a href="https://twitter.com/hbi_present"><img alt="Twitter" src="{{ asset('/bundles/machigaigame/images/lp/20150205_lp_03.png') }}" ></a></p>

<!--**△Twitter**-->





<p class="topBan">
<p class="menuLineDouble">メニューリスト</p>
</p>

<!--**
<p class="topBan"><img alt="Twitter" src="{{ asset('/bundles/machigaigame/images/lp/obi_2_640-90.png') }}" ></p>
**-->

<!--**▼topMenu**-->
<article id="topMenu">
<ul class="clearfix">
	<li><a href="https://e-aquarium.jp/asp/"><img alt="水族館ガイド" src="{{ asset('/bundles/machigaigame/images/lp/btn_menu_1.png') }}"></a></li>
	<li><a href="https://machigai.puzzle-m.net/"><img alt="LOVEスタンプ" src="{{ asset('/bundles/machigaigame/images/lp/btn_menu_2.png') }}"></a></li>
	<li><a href="https://ausp.puzzle-m.net/"><img alt="GODIVAプレゼント" src="{{ asset('/bundles/machigaigame/images/lp/btn_menu_3.png') }}"></a></li>
	<li><a href="https://bbq-g.com/asp/"><img alt="松坂牛プレゼント" src="{{ asset('/bundles/machigaigame/images/lp/btn_menu_4.png') }}"></a></li>
	<li><a href="https://machigai.puzzle-m.net/"><img alt="LINEプリペイドカードプレゼント" src="{{ asset('/bundles/machigaigame/images/lp/btn_menu_5.png') }}"></a></li>
	<li><a href="https://machigai.puzzle-m.net/"><img alt="クリオネスタンプ" src="{{ asset('/bundles/machigaigame/images/lp/btn_menu_6.png') }}"></a></li>
</ul>
</article>





</div>
<!-- //△CONTAINER△// -->



<!-- //▼FOOTER▼// -->
<footer>
<!--****-->
<article id="footSns">

</article>
<!--****-->
<!--****-->
<p class="pagetop"><br /></p>
<!--****-->
<!--****-->
<small class="copy">&copy; 2015 Hubase-i</small>
<!--****-->
</footer>
<!-- //△FOOTER△// -->



</div><!-- End of sb-site -->



<!--****-->
<div class="sb-slidebar sb-left sb-width-custom"  data-sb-width="80%">
<nav id="gnavi">
<div id="gnaviPad" id="gnaviPad">
<p class="btnToggleClose"><span><img alt="メニュー" src="{{ asset('/bundles/machigaigame/images/lp/arrow_left.png') }}"></span></p>
<h2 id="menuLogo"><img alt="まちがいさがし　パズルメイト" src="{{ asset('/bundles/machigaigame/images/lp/header2.png') }}"></h2>

<!--***  <p class="menuTitle">まちがいさがし</p>*-->
<ul class="menu">
	<li><a href="https://machigai.puzzle-m.net/game/select">ゲームする</a></li>
	<li><a href="https://machigai.puzzle-m.net/">スタンプゲット</a></li>
	<li><a href="https://machigai.puzzle-m.net/">マイページ</a></li>
</ul>
<p class="menuTitle">プレゼントコーナー</p>
<ul class="menu">
	<li><a href="https://machigai.puzzle-m.net/">amazonギフト</a></li>
	<li><a href="https://machigai.puzzle-m.net/">LINEプリペイド</a></li>
	<li><a href="https://machigai.puzzle-m.net/">クオカード</a></li>
</ul>
<p class="menuTitle">おすすめアプリ</p>
<ul class="menu"">
	<!--**  <li id="gnTwit"><a href="index.html"><img alt="Twitter" src="{{ asset('/bundles/machigaigame/images/lp/gn_twitter.png') }}"></a></li>  **-->
	<li><a href="https://e-aquarium.jp/asp/">水族館ガイド</a></li>
	<li><a href="https://bbq-g.com/asp/">バーベキューガイド</a></li>
	<li><a href="https://ausp.puzzle-m.net/">パズルメイト</a></li>

</ul>
</div>
</nav>
</div>
<!--****-->


</div><!-- End of wrapper -->

<script type="text/javascript" src="{{ asset('/bundles/machigaigame/js/lp/jquery-1.3.2.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/machigaigame/js/lp/jquery-1.9.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/machigaigame/js/lp/jquery.flexslider-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/machigaigame/js/lp/slidebars.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/machigaigame/js/lp/heightLine.js') }}"></script>

<script type="text/javascript" src="{{ asset('/bundles/machigaigame/js/lp/common.js') }}"></script>
<script type="text/javascript">
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "slide",
		slideshow: true,
		slideshowSpeed: 3000,
		animationSpeed: 1000,
		pauseOnAction: false
	});
});
</script>



<script>

$(function(){
	//非表示ボタンがクリックされたときの処理
	$("#boxclose").click(function(){
		//画像を非表示にする
		$("#floating-menu").hide("slow");
	});
});

</script>




<script type="text/javascript">
(function($) {
	$(document).ready(function() {
		var mySlidebars = new $.slidebars();
		$('#btnGnavi').on('click', function() {
			mySlidebars.slidebars.toggle('left');
		});
		$('.rightToggle-btn').on('click', function() {
			mySlidebars.slidebars.toggle('right');
		});
		$('.btnToggleClose').click(function(){mySlidebars.slidebars.close();});
	});
}) (jQuery);
</script>

<script type="text/javascript" src="{{ asset('/bundles/machigaigame/js/lp/box-fixed.js') }}"></script>
<script type="text/JavaScript">
$(function(){
    $("#fixedBox").boxfixed();
});
</script>


</body>
</html>




