{% block stylesheets %}
	<style type="text/css">
	<!--
		.pagetitle{border: solid 3px; font-size: 80px; color: white;background-color: pink;height: 80px;padding: 20px;}
		.texttitle{font-size: 30px; text-align:left; padding: 20px; font-weight: bold}
	</style>
{% endblock %}

{% extends "KanaheiGameBundle::base.html.twig" %}

{% block title %}KanaheiGameBundle:Gallery:index{% endblock %}

{% block body %}

<script type="text/javascript">
var item_id = null;
var title = null;
$(function() {
    $('#popup').hide();
})
function popup() {
    msg = 'ギャラリーから削除しますか？<br /><br />※端末に保存したものは削除されません。';

    $('.title').empty();
    $('<p>' + msg + '</p>').appendTo('.title');
    $('#popup').center();
    $('#popup').show();
    return false;
}
function go() {
	$('#popup').hide();
	$('#form').submit();
}
function cancel() {
	$('#popup').hide();
}
</script>

<form action="{{ path('GalleryDelete') }}" method="POST" name="form" id="form">

<!-- ヘッダータイトル -->
<div class="pagetitle">
	ギャラリー
</div>
<div>
	<button type="submit" name="delete" value="削除" 
			onmouseover="this.style.filter='alpha(opacity=50)';this.style.opacity='0.5';" 
			onmouseout="this.style.filter='';this.style.opacity='1.0';" 
			onmouseup="this.style.filter='';this.style.opacity='1.0';" 
			onclick="return popup();" 
			style="opacity: 1; position: relative; top: -100px; right: -400px;">
			<img src="{{ asset('/bundles/kanaheigame/images/parts/gomibako.jpg') }}" alt="削除" style="width:100px;">
			<input type="hidden" name="delete">
	</button>
</div>

<table style="font-size: 20px; width:100%;">
	{% for entity in purchasedItems %}
	<tr>
	<td style="width: 50%; padding: 2% 0 0 10%;">
  		<!-- サムネイル画像 -->
    	<img src="{{ asset(entity.item.getItemThumPath) }}" style="width:100%; border:solid 5px green;"/>
    </td>
    <td style="padding: 2% 0 0 5%; text-align: left; vertical-align: top;">
    	<!-- アイテムタイトル -->
		{{entity.item.name}}
	    <br />
	    <!-- アイテムカテゴリ名 -->
	    {{entity.item.category.name}}
	    <br />
	    <!-- アイテムグループ名 -->
	    {{entity.item.group.name}}
	    <br />
    	<!-- アイテム説明 -->
		{{entity.item.getDescription}}

		<div style="width:40%;">
        	<!-- 消費ポイント -->
        	<p style="font-size:1.3em">{{entity.item.getConsumePoint}}pt</p><br />
        	
        	<!-- ダウンロードボタン -->
        	<span class="detail">
    			<a href="{{ path('confirm',{"id":entity.item.getId}) }}">
    				<img id="shopredl{{entity.item.getId}}" src="{{ asset('/bundles/kanaheigame/images/parts/button_shopredl_off.png') }}" width="100%;" onclick="changeImage(this.id);"/>
    			</a>
        	</span>
    	</div>
    	
    	<input type="checkbox" name="check[]" value="{{ entity.getId }}" style="width: 50px; height: 50px;">
	</td>
	</tr>
	{% endfor %}
</table>
</form>

	<!-- ページング -->
	{% if maxPage > 1 %}
	<nav style="padding-top:3%;position:relative">
		{% if page != 1 %}
		<!-- ◁ ボタン -->
		<a style="padding-right:20%;"
			href={{ path('Gallery',{"page":page-1 }) }}>
			<img src="{{ asset('/bundles/kanaheigame/images/parts/button_page_back.png')  }}"
					width="7.5%"
					id="prev"/>
		</a>
		{% endif %}

		<span>
			<span class="page">{{ page }}</span> / <span id="maxPage">{{ maxPage }}</span>
		</span>

		<!-- ▷ ボタン -->
		{% if page != maxPage %}
		<a style="padding-left:20%;"
			href={{ path('Gallery',{"page":page+1 }) }}>
			<img src="{{ asset('/bundles/kanaheigame/images/parts/button_page_next.png')  }}"
					width="7.5%" id="next" />
		</a>
		{% endif %}
	</nav>
	{% endif %}

{% block javascripts %}
<script>
</script>
{% endblock %}

<footer style="margin:3% auto 5% auto;position:relative">
	<img id="toTopImage" src="{{ asset('/bundles/kanaheigame/images/parts/button_back_totop_off.png')}}" width="30%" onclick="changeImage(this.id);javascript: goTop();">
	<img id="preToTopImage" src="{{ asset('/bundles/kanaheigame/images/parts/button_back_totop_off.png')}}" class="preload">
</footer>

<!-- 削除確認ポップアップ -->
<div id="popup" style="display: none;position: absolute;width: 280px;height: 180px;
				     background-image:url();
				     background-size: cover;
				     background-color: white; border: medium solid; border-radius: 25px;
				     ">

    <div class="title"
	       style="padding-left: 5px;font-size: 15px;margin-top: 25px;width: auto;height: auto;overflow: hidden;">
	</div>

    <input type="submit" id="yes" alt="削除" value="はい" style="margin: auto; margin-top: 50px;width:30%"
    		src="{{ asset('')  }}"
			onclick="go();"/>
    <input type="submit" id="no" alt="やめる" value="いいえ" style="margin: auto; margin-top: 50px;width:30%"
    		src="{{ asset('')  }}"
			onclick="cancel();"/>
</div>

{% endblock %}
