<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-1.10.2.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery.timer.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/timeCalculater.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/changeImage.js') }}"></script>
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/android.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/jquery.center.min.js') }}"></script>
<script>

	function getCurrentDuration(){
		return {{clearTime}};
	}
	function padding(num,char,n){
		return (char+(num)).slice(-n); 
	}
    function getMinuteString(){
		var time =getCurrentDuration();
		var target = Math.floor( (time / 1000) / 60 );
		return padding( target, "0", 2 );
	}
    function getSecondString(){
		var time = getCurrentDuration();
		var target = Math.floor((time / 1000) % 60);
		return padding( target, "0", 2 );
	}
    function getMillisecondString(){
		var time = getCurrentDuration();
		var target = Math.floor(time % 1000);
		return padding( target, "0", 2 );
    }
    function clearTimeString(){
		var mm = getMinuteString();
		var ss = getSecondString();
		var ms = getMillisecondString();//.slice(2);
		var colon = "c";
		return (mm + colon + ss + colon + ms);
    }

window.onload = function(){		
	$('#clearTime').html(clearTimeString());

	var numb = $('#clearTime').text();
	$('#clearTime').empty();
	var numarr = numb.split("");
	for ( i = 0; i < numarr.length; i++){
		if(numarr[i] == 1){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_1.png')}}' />");
		}else if(numarr[i] == 2){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_2.png')}}' />");
		}else if(numarr[i] == 3){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_3.png')}}' />");
		}else if(numarr[i] == 4){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_4.png')}}' />");
		}else if(numarr[i] == 5){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_5.png')}}' />");
		}else if(numarr[i] == 6){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_6.png')}}' />");
		}else if(numarr[i] == 7){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_7.png')}}' />");
		}else if(numarr[i] == 8){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_8.png')}}' />");
		}else if(numarr[i] == 9){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_9.png')}}' />");
		}else if(numarr[i] == 0){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_0.png')}}' />");
		}else if(numarr[i] == "c"){
			$('#clearTime').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_coron.png')}}' />");
		}
	}
}
</script>
<img src="{{asset('/bundles/machigaigame/images/parts/2-01_3_web_bg.png')}}" style="position:absolute;margin-left:-1%;width:100%"/>

<p id="clearTime" style="position:absolute;top:16%;width:100%;text-align:center;font-size:5em;"></p>
<p id="getPoint" style="position:absolute;top:37%;width:100%;text-align:center;font-size:2.3em;color:white;">ポイントの獲得には会員登録が必要です。</p>
<p id="currentPoint" style="position:absolute;top:53%;width:100%;text-align:center;font-size:2.3em;color:white;">ポイントの獲得には会員登録が必要です。</p>

<div id="buttons" style="position:absolute; top:80%; width:100%; text-align:center">
<a href="{{ path('GameSelect') }}">
<img id="tryOthers" src="{{asset('/bundles/machigaigame/images/parts/button_otherselect_off.png')}}" style="width:65%" onclick="changeImage(this.id);"/>
</a>
<a href="{{ path('Top') }}">
<img id="toTop" src="{{asset('/bundles/machigaigame/images/parts/button_returnto_top_off.png')}}" style="width:65%;margin-top:16%" onclick="changeImage(this.id);"/>
</a>
<img id="toShop" src="{{asset('/bundles/machigaigame/images/parts/button_resultshop_gray_off.png')}}" style="width:65%;margin-top:2%" onclick="changeImage(this.id);"/>
<img id="toRanking" src="{{asset('/bundles/machigaigame/images/parts/button_resultranking_gray_off.png')}}" style="width:65%;margin-top:2%" onclick="changeImage(this.id);"/>
</div>

<div style="position:relative;" class="preload">
<img src="{{asset('/bundles/machigaigame/images/parts/button_otherselect.png')}}" />
<img src="{{asset('/bundles/machigaigame/images/parts/button_returnto_top.png')}}" />
<img src="{{asset('/bundles/machigaigame/images/parts/button_resultshop_gray.png')}}" />
<img src="{{asset('/bundles/machigaigame/images/parts/button_resultranking_gray.png')}}" />
</div>