<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-1.10.2.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery.timer.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/timeCalculater.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/changeImage.js') }}"></script>
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/android.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/jquery.center.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/warning.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/common.js') }}"></script>
<link rel="stylesheet" src="{{ asset('bundles/machigaigame/css/html5reset-1.6.1.css')  }}" />
<link rel="stylesheet" src="{{ asset('bundles/machigaigame/css/no-theme/jquery-ui-1.10.3.custom.min.css')  }}" />

<script>
$(function(){
	var numb = $('#getPoint').text();
	$('#getPoint').empty();
	var numarr = numb.split("");
	for ( i = 0; i < numarr.length; i++){
		if(numarr[i] == 1){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_1.png')}}' />");
		}else if(numarr[i] == 2){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_2.png')}}' />");
		}else if(numarr[i] == 3){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_3.png')}}' />");
		}else if(numarr[i] == 4){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_4.png')}}' />");
		}else if(numarr[i] == 5){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_5.png')}}' />");
		}else if(numarr[i] == 6){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_6.png')}}' />");
		}else if(numarr[i] == 7){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_7.png')}}' />");
		}else if(numarr[i] == 8){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_8.png')}}' />");
		}else if(numarr[i] == 9){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_9.png')}}' />");
		}else if(numarr[i] == 0){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_0.png')}}' />");
		}else if(numarr[i] == "p"){
			$('#getPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_pt.png')}}' style='position:absolute;top:6%;'/>");
		}
	}
	var numb = $('#currentPoint').text();
	$('#currentPoint').empty();
	var numarr = numb.split("");
	for ( i = 0; i < numarr.length; i++){
		if(numarr[i] == 1){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_1.png')}}' />");
		}else if(numarr[i] == 2){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_2.png')}}' />");
		}else if(numarr[i] == 3){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_3.png')}}' />");
		}else if(numarr[i] == 4){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_4.png')}}' />");
		}else if(numarr[i] == 5){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_5.png')}}' />");
		}else if(numarr[i] == 6){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_6.png')}}' />");
		}else if(numarr[i] == 7){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_7.png')}}' />");
		}else if(numarr[i] == 8){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_8.png')}}' />");
		}else if(numarr[i] == 9){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_9.png')}}' />");
		}else if(numarr[i] == 0){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_0.png')}}' />");
		}else if(numarr[i] == "p"){
			$('#currentPoint').append("<img src='{{asset('/bundles/machigaigame/images/parts/result_number_pt.png')}}' style='position:absolute;top:6%;'/>");
		}
	}
})
</script>

<img src="{{asset('/bundles/machigaigame/images/parts/2-01_4_web_bg.png')}}" style="position:absolute;margin-left:-1%;width:100%"/>

<p id="clearTime" style="position:absolute;top:200px;width:100%;text-align:center;font-size:5em;color:white;">--:--:--</p>
<p id="getPoint" style="position:absolute;top:500px;width:100%;text-align:center;font-size:5em;color:white;margin-left:-4%">0pt</p>
<p id="currentPoint" style="position:absolute;top:730px;width:100%;text-align:center;font-size:5em;color:white;margin-left:-4%">{{currentPoint}}pt</p>
<div id="buttons" style="position:absolute; top:1180; width:100%; text-align:center">
<a href="{{ path('GamePlay',{'id':questionId}) }}">
<img id="tryOthers" src="{{asset('/bundles/machigaigame/images/parts/button_retry_off.png')}}" style="width:65%" onclick="changeImage(this.id);"/>
</a>
<a href="{{ path('GameSelect') }}">
<img id="toTop" src="{{asset('/bundles/machigaigame/images/parts/button_otherselect_off.png')}}" style="width:65%;margin-top:10px" onclick="changeImage(this.id);"/>
</a>
<a href="{{ path('Shop') }}">
<img id="toShop" src="{{asset('/bundles/machigaigame/images/parts/button_resultshop_off.png')}}" style="width:65%;margin-top:10px" onclick="changeImage(this.id);"/>
</a>
<a href="{{ path('Ranking') }}">
<img id="toRanking" src="{{asset('/bundles/machigaigame/images/parts/button_resultranking_off.png')}}" style="width:65%;margin-top:10px" onclick="changeImage(this.id);"/>
</a>
</div>

<div class="preload">
<img src="{{asset('/bundles/machigaigame/images/parts/button_retry.png')}}" />
<img src="{{asset('/bundles/machigaigame/images/parts/button_otherselect.png')}}" />
<img src="{{asset('/bundles/machigaigame/images/parts/button_resultranking.png')}}" />
<img src="{{asset('/bundles/machigaigame/images/parts/button_resultshop.png')}}" />
</div>