{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}問題メニュー{% endblock %}

{% block stylesheets %}<style>
    #questions ul li{display:inline-block; width:27%;padding:2%;}
    #questions ul li a img{width:100%}
    .imageSize {width:85%;}
</style>
{% endblock %}
{% block body %}
<script>
    var game_id = null;
    var game_title = null;
    var current_level = "easy";
    var max = null;
    var image_path = null;
    var image_id = null;
    $(function() {
        $('.normalLevel').hide();
        $('.hardLevel').hide();
        $('#popup').hide();
        $('#popup_continue').hide();
        $('.easyLevel').show();
    })
    function changeLevel(level) {
        var other_mode = new Array('easy', 'normal', 'hard');
        var mode = new Array()
        mode['easy'] = 0;
        mode['normal'] = 1;
        mode['hard'] = 2;
        other_mode.splice(mode[level], 1);
        other_mode1 = '.' + other_mode[0] + 'Level';
        other_mode2 = '.' + other_mode[1] + 'Level';
        chosen_mode = "." + level + "Level";
        $(other_mode1).hide();
        $(other_mode2).hide();
        $(chosen_mode).show();
        current_level = level;
        rewritePageNum();
    }

    function popup(id, gameTitle) {
        game_id = id;
        game_title = gameTitle;
        $('.gameTitle').empty();
        $('<p>' + game_title + '</p>').appendTo('.gameTitle');
        $('#popup').center();
        $('#popup').show();
    }

    function gameStart() {
        window.location = '{{ path("GameIndex")}}' + game_id;
    }
    function cancel() {
        $('#popup').hide();
        $('#popup_continue').hide();
    }
    function sortSelect() {
        var optionValue = $('#sortSelect').val();
        if (optionValue == 1) {
            window.location = "{{path('SortQuestion',{"sort":"ASC"})}}";
        } else if (optionValue == 2) {
            window.location = "{{path('SortQuestion',{"sort":"DESC"})}}";
        } else if (optionValue == 3) {
            window.location = "{{path('SortQuestion',{"sort":"notCleared"})}}";
        } else if (optionValue == 4) {
            window.location = "{{path('SortQuestion',{"sort":"suspended"})}}";
        }
    }
    function rewritePageNum() {
        var page = 0;
        var target = "li." + current_level;
        var max = parseInt($(target).size());
        $('.page').html(page + 1);
        if ((max % 24) == 0) {
            if (parseInt(max / 24) == 0) {
                $('.maxPage').html(1);
            } else {
                $('.maxPage').html(parseInt(max / 24));
            }
        } else {
            if (parseInt(max / 24) == 0) {
                $('.maxPage').html(1);
            } else {
                $('.maxPage').html(parseInt(max / 24 + 1));
            }
        }
    }
    function changeImage(imageId) {
        var pre_src = $('#' + imageId).attr('src');
        var src = pre_src.replace(/_off/g, '');
        image_path = src;
        image_id = imageId;
        $('#' + imageId).attr("src", src);
        setTimeout("originalImage();", 200);
    }
    function originalImage() {
        var pre_src = $('#' + image_id).attr('src');
        var src = image_path.replace(/.png/g, '_off.png');
        $('#' + image_id).attr("src", src);
    }
    function changeTab(level) {
        if (current_level != level) {
            var other_mode = new Array('easy', 'normal', 'hard');
            var mode = new Array()
            mode['easy'] = 0;
            mode['normal'] = 1;
            mode['hard'] = 2;
            other_mode.splice(mode[level], 1);
            other_mode1 = '#' + other_mode[0];
            other_mode2 = '#' + other_mode[1];
            chosen_mode = "#" + level;

            var pre_src = $(chosen_mode).attr('src');
            var src = pre_src.replace(/.png/g, '_off.png');
            var pre_not1 = $(other_mode1).attr('src');
            var not1 = pre_not1.replace(/_off.png/g, '.png');
            var pre_not2 = $(other_mode2).attr('src');
            var not2 = pre_not2.replace(/_off.png/g, '.png');
            $(chosen_mode).attr("src", src);
            $(other_mode1).attr("src", not1);
            $(other_mode2).attr("src", not2);
            current_level = level;
        }
    }
</script>

<script>
    var page = 0;
    $(function() {
        $('.prev').click(function() {
            var target = "li." + current_level;
            if (page > 0) {
                page--;
                draw();
            }
        });
        $('.next').click(function() {
            var target = "li." + current_level;
            if (page < ($(target).size() - 1) / 24 - 1) {
                page++;
                draw();
            }
        });
        function draw() {
            var target = "li." + current_level;
            var str = 'li.' + current_level + ':first,li.' + current_level + ':gt("' + page * 24 + '"):lt(24)';
            $(target).hide();
            $(str).show();
            var max = parseInt($(target).size());
            rewritePageNum();
            function rewritePageNum() {
                $('.page').html(page + 1);
                if ((max % 24) == 0) {
                    if (parseInt(max / 24) == 0) {
                        $('.maxPage').html(1);
                    } else {
                        $('.maxPage').html(parseInt(max / 24));
                    }
                } else {
                    if (parseInt(max / 24) == 0) {
                        $('.maxPage').html(1);
                    } else {
                        $('.maxPage').html(parseInt(max / 24 + 1));
                    }
                }
            }
        }
        draw();
    });
</script>

<img src="{{ asset('/bundles/machigaigame/images/parts/header_mondaiselect.png')  }}"
     style="width: 100%"/>

<div id="allquestions">
    <div id="level_tab" style="margin-top: 20px;">
        <img id="easy" 
             src="{{ asset('/bundles/machigaigame/images/parts/tab_easy_off.png') }}"
             width="30%" onclick='changeTab(this.id);
                     changeLevel("easy");'/>

        <img id="normal" 
             src="{{ asset('/bundles/machigaigame/images/parts/tab_normal.png') }}"
             width="30%" onclick='changeTab(this.id);
                     changeLevel("normal")' >

        <img id="hard" 
             src="{{ asset('/bundles/machigaigame/images/parts/tab_hard.png') }}"
             width="30%" onclick='changeTab(this.id);
                     changeLevel("hard");' />
    </div>

    <div id="white_background" 
         style="background: url({{ asset('/bundles/machigaigame/images/parts/game_selectbg.png')  }});
         background-size:cover;
         background-repeat:no-repeat;">

        <section id="select_area" >
            <div id="order_header" 
                 >

                <div id="selectBox" style="margin-top: 25px; float: right; margin-right: 10px;">
                    <span style="color:rgb(94,109,114)">並べ替え</span>
                    <select id="sortSelect">
                        <option selected="selected" value=""></option>
                        <option value="1">古い順</option>
                        <option value="2">新しい順</option>
                        <option value="3">未クリア問題</option>
                        <option value="4">中断問題</option>
                    </select>
                </div>
                <div style="clear: both"></div>
            </div>

            <div id="arrow_top" style="margin-top:10px;">
                <nav style="padding-top:10px">
                    <a style="padding-right:10%;">
                        <img src="{{ asset('/bundles/machigaigame/images/parts/button_page_back.png')  }}"
                             width="7.5%" class="prev"/></a>

                    <span class="page"></span>/ <span class="maxPage"></span>
                    <a style="padding-left:10%;">
                        <img src="{{ asset('/bundles/machigaigame/images/parts/button_page_next.png')  }}" 
                             width="7.5%" class="next"/>
                    </a>
                </nav>
                <li class="easy"></li>
                <li class="normal"></li>
                <li class="hard"></li>
            </div>

            <div id="games" style="color:rgb(94,109,114);">
{% if histories is  null %}
                <div style="margin-bottom:0%;height:30%;display:block">
                    <div id="questions">
                        <ul class="easyLevel" >
	{% for question in questions %}
	{% if question.getLevel() == 1 %}
                            <li class="easy">
		{% if playedQuestions[question.getId()] is not defined or playedQuestions[question.getId()] == 1 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 2 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 3 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_save_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 4 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 5 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% endif %}
                                <br /><span>No{{question.getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
                            </span>
                        </ul>
                        <ul class="normalLevel">
	{% for question in questions %}
	{% if question.getLevel() == 2 %}
                            <li class="normal">
		{% if playedQuestions[question.getId()] is not defined or playedQuestions[question.getId()] == 1 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 2 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 3 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_save_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 4 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 5 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% endif %}
                                <span>No{{question.getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
                        </ul>
                        <ul class="hardLevel">
	{% for question in questions %}
	{% if question.getLevel() == 3 %}
                            <li class="hard">
		{% if playedQuestions[question.getId()] is not defined or playedQuestions[question.getId()] == 1 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 2 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 3 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_save_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 4 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% elseif playedQuestions[question.getId()] is defined and playedQuestions[question.getId()] == 5 %}
                                <img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getId}}, '{{question.getQuestionTitle}}');"/>
		{% endif %}
                                <br /><span>No{{question.getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
                        </ul>
                    </div>
{% endif %}
{% if histories is not null %}
                    <div id="questions">
                        <ul class="easyLevel">
		{% for question in histories %}
	{% if question.getQuestion().getLevel() == 1 %}
                            <li class="easy">
		{% if question.getGameStatus() is empty or question.getGameStatus() == 1 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id); popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}'');"/>
		{% elseif question.getGameStatus() == 2 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 3 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_save_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 4 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 5 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% endif %}
                                <br /><span>No{{question.getQuestion().getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
                            </span>
                        </ul>
                        <ul class="normalLevel">
	{% for question in histories %}
	{% if question.getQuestion().getLevel() == 2 %}
                            <li class="normal">
		{% if question.getGameStatus() is empty or question.getGameStatus() == 1 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 2 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 3 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_save_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 4 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 5 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% endif %}
                                <br /><span>No{{question.getQuestion().getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
                        </ul>
                        <ul class="hardLevel">
	{% for question in histories %}
	{% if question.getQuestion().getLevel() == 3 %}
                            <li class="hard">
		{% if question.getGameStatus() is empty or question.getGameStatus() == 1 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 2 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 3 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_save_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 4 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% elseif question.getGameStatus() == 5 %}
                                <img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);
                                        popup({{question.getQuestion().getId}}, '{{question.getQuestion().getQuestionTitle}}');"/>
		{% endif %}
                                <br /><span>No{{question.getQuestion().getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
                        </ul>
                    </div>
                </div>
{% endif %}
            </div>
    </div>
    <!--
    <nav><a style="padding-right:20%;"><img src="{{ asset('/bundles/machigaigame/images/parts/button_page_back.png')  }}" width="7.5%" class="prev"/></a><span class="page"></span>/ <span class="maxPage"></span> <a style="padding-left:20%;"><img src="{{ asset('/bundles/machigaigame/images/parts/button_page_next.png')  }}" width="7.5%" class="next"/></a></nav>
    -->
</div>
<div style="text-align:left;color:rgb(18,77,128);font-size:1em;margin:10px auto; width: 90%"><p>
        ランキングへの反映は初回挑戦分のみとなります。<br />
        中断問題、複数回クリアされた問題はランキング対象に
        なりませんのでご注意ください。
    </p></div>
<a href="{{path('Top')}}" style="margin-top: 10px; margin-bottom: 10px;"><img id="topImage" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" width="30%" onclick="changeImage(this.id);"></a>
<img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop.png')}}" >
</div>
</section>
</div>

<div id="popup" style="
     position: absolute;
     width: 280px;
     height: 180px;
     background-image:url({{ asset('/bundles/machigaigame/images/parts/popup_common.png')  }});
     background-size: cover;">

    <button type="button" onclick="cancel()" 
            style="position:absolute;right: 10px;top:10px;width:50px;height:50px;"></button>

    <div class="gameTitle"
       style="
       padding-left: 5px;
       font-size: 1em;
       margin-top: 25px;
       width: 235px;
       height: 30px;
       overflow: hidden;
       "></div>

    <img id="play_game" 
         src="{{ asset('/bundles/machigaigame/images/parts/button_game_start3_off.png')  }}" 
         style="margin: auto; margin-top: 50px;width:60%" 
         onclick="changeImage(this.id);
                 gameStart(1);"/>
</div>


<div id="popup_continue" style="z-index:4;position:absolute;margin-top:50%;width:100%;left:10%">
    <img src="{{ asset('/bundles/machigaigame/images/parts/popup_common.png')  }}"
         style="position:absolute;left:5%;top:50%;width:90%"/>

    <button type="button" onclick="cancel()" 
            style="position:absolute;top:52%;left:82%;margin-top:7%;padding:5%;width:10%;height:6%;filter:alpha(opacity=0);-moz-opacity: 0;opacity:0;
            "></button>

    <p class="gameTitle" 
       style="position:absolute;top:50%;left:13%;margin-top:5%;padding:5%;width:50%;font-size:1.5em"></p>

    <img id="play_continue" 
         src="{{ asset('/bundles/machigaigame/images/parts/button_game_start2_off.png')  }}"
         style="position:absolute;top:40%;left:20%;margin-top:17%;padding:5%;width:50%"
         onclick="changeImage(this.id);
                 gameStart();"/>

    <img id="play_reset"
         src="{{ asset('/bundles/machigaigame/images/parts/button_game_start1_off.png')  }}"
         style="position:absolute;top:50%;left:20%;margin-top:28%;padding:5%;width:50%" 
         onclick="changeImage(this.id);
                 gameStart();"/>

    <p style="position:absolute;top:50%;left:20%;margin-top:38%;padding:5%;width:50%;font-size:0.6em">
        ※「はじめから遊ぶ」を選択すると中断データは削除されます。</p>
</div>

<img src="{{ asset('/bundles/machigaigame/images/parts/header_mondaiselect.png')  }}"
     width="100%" style="position:absolute;top:0;left:0;"/>


<!-- 通信中 -->
<div style="position:fixed;top:0;left:0;width:100%; height:100%;z-index:100;background-color:rgba(0,0,0,0.4);visibility:hidden;">
    <img src="{{ asset('/bundles/machigaigame/images/parts/popup_questiondownload.png')}}" width="70%" style="position:absolute;top:40%;left:15%;" />
</div>
<!-- 中断データポップアップ -->
<div style="position:fixed;top:0;left:0;width:100%; height:100%;z-index:100;background-color:rgba(0,0,0,0.4);visibility:hidden;">
    <span>No.1</span>
    <h2>問題タイトル</h2>
</div>


{% endblock %}
{% block javascripts %}

<img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_game_start1.png')  }}"/>
<img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_game_start2.png')  }}"/>
<img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_game_start3.png')  }}"/>

{% endblock %}

