{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}問題メニュー{% endblock %}

{% block stylesheets %}<style>
 #questions ul li{display:inline-block; width:27%;padding:2%;}
 #questions ul li a img{width:100%}
 .imageSize {width:90%;}
</style>
{% endblock %}

{% block body %}
<script>
var game_id = null;
var game_title = null;
var current_level = "easy";
var max = null;
var image_path = null;
var image_id = null;
$(function(){
	$('.normalLevel').hide();
	$('.hardLevel').hide();
	$('#popup').hide();
	$('#popup_continue').hide();
	$('.easyLevel').show();
})
function changeLevel(level){
	var other_mode = new Array('easy','normal','hard');
		var mode = new Array()
		mode['easy'] = 0;
		mode['normal'] = 1;
		mode['hard'] = 2;
		other_mode.splice(mode[level],1);
		other_mode1 = '.'+other_mode[0]+'Level';
		other_mode2 = '.'+other_mode[1]+'Level';
		chosen_mode = "."+level+"Level";
	$(other_mode1).hide();
	$(other_mode2).hide();
	$(chosen_mode).show();
	current_level = level;
	rewritePageNum();
}

function popup(id,gameTitle){
	game_id = id;
	game_title = gameTitle;
	$('<p>Question No.'+game_title+'</p>').appendTo('.gameTitle');
	$('#popup').show();
}

function gameStart(){
	window.location = '{{ path("GamePlay",{"id":'+game_id+'}) }}';
}
function cancel(){
	$('#popup').hide();
	$('#popup_continue').hide();
}
function sortSelect(){
	var optionValue = $('#sortSelect').val();
	if(optionValue == 1){
		window.location = "{{path('SortQuestion',{"sort":"ASC"})}}";
	}else if(optionValue == 2){
		window.location = "{{path('SortQuestion',{"sort":"DESC"})}}";
	}else if(optionValue == 3){
		window.location = "{{path('SortQuestion',{"sort":"notCleared"})}}";
	}else if(optionValue == 4){
		window.location = "{{path('SortQuestion',{"sort":"suspended"})}}";
	}
}
function rewritePageNum(){
	var page = 0;
	var target = "li."+current_level;
    var max = parseInt($(target).size());
    $('.page').html(page+1);
    if((max%24)==0){
    	if(parseInt(max/24)==0){
    		$('.maxPage').html(1);
    	}else{
	    	$('.maxPage').html(parseInt(max/24));
    	}
    }else{
    	if(parseInt(max/24)==0){
    		$('.maxPage').html(1);
    	}else{
	    	$('.maxPage').html(parseInt(max/24+1));
    	}
    }
}
function changeImage(imageId){
	var pre_src = $('#'+imageId).attr('src');
	var src = pre_src.replace(/_off/g,'');
	image_path = src;
	image_id = imageId;
	$('#'+imageId).attr("src",src);
	setTimeout("originalImage();", 200);
}
function originalImage(){
	var pre_src = $('#'+image_id).attr('src');
	var src = image_path.replace(/.png/g,'_off.png');
	$('#'+image_id).attr("src",src);
}
</script>

<script>
$(function() {
  var page = 0;
  function draw() {
  	var target = "li."+current_level;
  	var str = 'li.'+current_level+':first,li.'+current_level+':gt("'+page * 24 + '"):lt(24)';
    $(target).hide();
	$(str).show();
    var max = parseInt($(target).size());
    rewritePageNum();
  $('.prev').click(function() {
  	var target = "li."+current_level;
    if (page > 0) {
      page--;
      draw();
    }
  });
  $('.next').click(function() {
  	var target = "li."+current_level;
    if (page < ($(target).size() - 1) / 24 - 1) {
      page++;
      draw();
    }
  });
  function rewritePageNum(){
  	$('.page').html(page+1);
    if((max%24)==0){
    	if(parseInt(max/24)==0){
    		$('.maxPage').html(1);
    	}else{
	    	$('.maxPage').html(parseInt(max/24));
    	}
    }else{
    	if(parseInt(max/24)==0){
    		$('.maxPage').html(1);
    	}else{
	    	$('.maxPage').html(parseInt(max/24+1));
    	}
    }
  }
}
  draw();
});
</script>


<div id="popup">

<img src="{{ asset('/bundles/machigaigame/images/parts/popup_common.png')  }}" style="position:absolute;left:5%;top:50%;width:90%"/>
<button type="button" onclick="cancel()" style="position:absolute;top:50%;left:82%;margin-top:6%;padding:5%;width:10%;filter:alpha(opacity=0);-moz-opacity: 0;opacity: 0;
"></button>
<p class="gameTitle" style="position:absolute;top:50%;left:20%;margin-top:5%;padding:5%;width:50%;font-size:3em"></p>
<img id="play_game" src="{{ asset('/bundles/machigaigame/images/parts/button_game_start3_off.png')  }}" style="position:absolute;top:50%;left:15%;margin-top:24%;padding:5%;width:60%" onclick="changeImage(this.id);gameStart(1);"/>
</div>

<div id="popup_continue">
<img src="{{ asset('/bundles/machigaigame/images/parts/popup_common.png')  }}" style="position:absolute;left:5%;top:50%;width:90%"/>
<button type="button" onclick="cancel()" style="position:absolute;top:50%;left:82%;margin-top:6%;padding:5%;width:10%;filter:alpha(opacity=0);-moz-opacity: 0;opacity: 0;
"></button>
<p class="gameTitle" style="position:absolute;top:50%;left:20%;margin-top:5%;padding:5%;width:50%;font-size:3em"></p>
<img id="play_continue" src="{{ asset('/bundles/machigaigame/images/parts/button_game_start2_off.png')  }}" style="position:absolute;top:40%;left:20%;margin-top:22%;padding:5%;width:50%" onclick="changeImage(this.id);gameStart();"/>
<img id="play_reset" src="{{ asset('/bundles/machigaigame/images/parts/button_game_start1_off.png')  }}" style="position:absolute;top:50%;left:20%;margin-top:24%;padding:5%;width:50%" onclick="changeImage(this.id);gameStart();"/>
<p style="position:absolute;top:50%;left:20%;margin-top:36%;padding:5%;width:50%;font-size:2em">※「はじめから遊ぶ」を選択すると中断データは削除されます。</p>
</div>
<img src="{{ asset('/bundles/machigaigame/images/parts/header_mondaiselect.png')  }}" width="100%"/>
<div id="level_tab" style="padding-top:5%;"><img id="easy" src="{{ asset('/bundles/machigaigame/images/parts/tab_easy_off.png') }}" width="30%" onclick='changeImage(this.id);changeLevel("easy");'/><img id="normal" src="{{ asset('/bundles/machigaigame/images/parts/tab_normal_off.png') }}" width="30%" onclick='changeImage(this.id);changeLevel("normal")'><img id="hard" src="{{ asset('/bundles/machigaigame/images/parts/tab_hard_off.png') }}" width="30%" onclick='changeImage(this.id);changeLevel("hard");'/></div>
<section id="select_area" style="background: url({{ asset('/bundles/machigaigame/images/parts/game_selectbg.png')  }}); background-repeat:no-repeat; background-size:cover;">
<div id="order_header" style="text-align:right;padding-bottom:0.7em;padding-top:0.7em;"><span style="padding-right:0.5em;">並べ替え</span><select id="sortSelect" onchange="sortSelect()"><option selected="selected" value=""></option><option value="1">古い順</option><option value="2">新しい順</option><option value="3">未クリア問題</option><option value="4">中断問題</option></select></div>



<nav><a style="padding-right:20%;"><img src="{{ asset('/bundles/machigaigame/images/parts/button_page_back.png')  }}" width="7.5%" class="prev"/></a><span class="page"></span>/ <span class="maxPage"></span><a style="padding-left:20%;"><img src="{{ asset('/bundles/machigaigame/images/parts/button_page_next.png')  }}" width="7.5%" class="next"/></a></nav>
<li class="easy"></li><li class="normal"></li><li class="hard"></li>
{% if histories is  null %}
<div id="questions">
	<ul class="easyLevel">
	{% for question in questions %}
	{% if question.getLevel() == 1 %}
	<li class="easy">
		{% if question.getPlayHistories() is empty or question.getPlayHistories()[0].getGameStatus() == 1 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 2 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 3 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 4 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 5 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% endif %}
		<br /><span>No{{question.getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
	</span>
	</ul>
	<ul class="normalLevel">
	{% for question in questions %}
	{% if question.getLevel() == 2 %}
	<li class="normal">
		{% if question.getPlayHistories() is empty or question.getPlayHistories()[0].getGameStatus() == 1 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 2 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 3 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 4 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 5 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% endif %}
		<span>No{{question.getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
	</ul>
	<ul class="hardLevel">
	{% for question in questions %}
	{% if question.getLevel() == 3 %}
	<li class="hard">
		{% if question.getPlayHistories() is empty or question.getPlayHistories()[0].getGameStatus() == 1 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 2 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 3 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 4 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% elseif question.getPlayHistories()[0].getGameStatus() == 5 %}
			<img id="image{{question.getId}}" class="imageSize"  src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestionNumber}},{{question.getQuestionNumber}});"/>
		{% endif %}
		<br /><span>No{{question.getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
	</ul>
</div>
{% endif %}
{% if histories is not null %}
<div id="questions">
	<ul class="easyLevel">
		{% for question in histories %}
	{% if question.getQuestion().getLevel() == 1 %}
	<li class="easy">
		{% if question.getGameStatus() is empty or question.getGameStatus() == 1 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 2 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 3 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 4 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 5 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% endif %}
		<br /><span>No{{question.getQuestion().getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
	</span>
	</ul>
	<ul class="normalLevel">
	{% for question in histories %}
	{% if question.getQuestion().getLevel() == 2 %}
	<li class="normal">
		{% if question.getGameStatus() is empty or question.getGameStatus() == 1 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 2 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 3 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 4 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 5 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% endif %}
		<br /><span>No{{question.getQuestion().getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
	</ul>
	<ul class="hardLevel">
	{% for question in histories %}
	{% if question.getQuestion().getLevel() == 3 %}
	<li class="hard">
		{% if question.getGameStatus() is empty or question.getGameStatus() == 1 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_first_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 2 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_challenge_notfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 3 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 4 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% elseif question.getGameStatus() == 5 %}
			<img id="image{{question.getQuestion().getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_game_clearnotfirst_off.png')  }}" onclick="changeImage(this.id);popup({{question.getQuestion().getQuestionNumber}});"/>
		{% endif %}
		<br /><span>No{{question.getQuestion().getQuestionNumber}}</span></li>
	{% endif %}
	{% endfor %}
	</ul>

</div>
{% endif %}
</section>

<nav><a style="padding-right:20%;"><img src="{{ asset('/bundles/machigaigame/images/parts/button_page_back.png')  }}" width="7.5%" class="prev"/></a><span class="page"></span>/ <span class="maxPage"></span> <a style="padding-left:20%;"><img src="{{ asset('/bundles/machigaigame/images/parts/button_page_next.png')  }}" width="7.5%" class="next"/></a></nav>
<p style="font-size:2em; padding:2%;">
ランキングへの反映は初回挑戦分のみとなります。<br />
中断問題、複数回クリアされた問題はランキング対象になりませんのでご注意ください。
</p>
<a href="{{path('Top')}}"><img id="topImage" src="{{ asset('/bundles/machigaigame/images/parts/button_toapptop_off.png')}}" width="35%" style="padding:2%" onclick="changeImage(this.id);"></a>
{% endblock %}
{% block javascripts %}
<!-- 通信中 -->
<div style="position:fixed;top:0;left:0;width:100%; height:100%;z-index:100;background-color:rgba(0,0,0,0.4);visibility:hidden;">
 <img src="{{ asset('/bundles/machigaigame/images/parts/popup_questiondownload.png')}}" width="70%" style="position:absolute;top:40%;left:15%;" />
</div>
<!-- 中断データポップアップ -->
<div style="position:fixed;top:0;left:0;width:100%; height:100%;z-index:100;background-color:rgba(0,0,0,0.4);visibility:hidden;">
 <span>No.1</span>
 <h2>問題タイトル</h2>
</div>

{% endblock %}