{% extends "KanaheiAdminBundle::base.html.twig" %}

{% block contents -%}
    <h1>ユーザ一覧</h1>
    {% include 'KanaheiAdminBundle:Default:pager.parts.html.twig' %}
    <table class="table table-striped table-bordered table-hover compact">
        <thead>
            <tr>
                <th>ID</th>
                <th>au ID</th>
<!--                <th>Synctoken</th> -->
                <th>ニックネーム</th>
                <th>メールアドレス</th>
                <th>現在のポイント</th>
<!--                <th>Easycleartimethismonth</th>
                <th>Normalcleartimethismonth</th>
                <th>Hardcleartimethismonth</th>
                <th>Easycleartimelastmonth</th>
                <th>Normalcleartimelastmonth</th>
                <th>Hardcleartimelastmonth</th>
                <th>Createdat</th>
                <th>更新日時</th>
-->                <th>アクション</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.auId }}</td>
<!--                
				<td>{{ entity.syncToken }}</td>
-->
                <td>{{ entity.nickname }}</td>
                <td>{{ entity.mailAddress }}</td>
                <td>{{ entity.currentPoint }}</td>
<!--            
                <td>{{ entity.easyClearTimeThisMonth }}</td>
                <td>{{ entity.normalClearTimeThisMonth }}</td>
                <td>{{ entity.hardClearTimeThisMonth }}</td>
                <td>{{ entity.easyClearTimeLastMonth }}</td>
                <td>{{ entity.normalClearTimeLastMonth }}</td>
                <td>{{ entity.hardClearTimeLastMonth }}</td>
                <td>{{ entity.createdAt | date("Y/m/d H:i:s") }}</td>
                <td>{% if entity.updatedAt == "0" %}{{ entity.updatedAt | date("Y/m/d H:i:s") }}{% endif %}}</td>
-->                
                <td>
	            	<a href="{{ path('user_show', { 'id': entity.id }) }}">詳細表示</a>｜
             		<a href="{{ path('user_edit', { 'id': entity.id }) }}">編集</a>
		        </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'KanaheiAdminBundle:Default:pager.parts.html.twig' %}

    <input class="btn btn-primary" type="button" onclick="location.href='{{ path('user_new') }}'" value="新規作成">

    {% endblock %}
