<div style="border: solid 3px; font-size: 80px; color: white;background-color: blue;height: 80px;padding: 20px;">
	動くスタンプ
</div>

<div style="font-size: 30px; text-align:left; padding: 20px;">新着</div>

<table style="font-size: 20px; width:100%;">
<tr>
{% for item in items %}
<td width="33%">
  	<!-- サムネイル画像 -->
    <img src="{{ asset('/bundles/machigaigame/images/animestamp/')}}{{item.getItemPath}}_thum.png" style="width:100%;"/>
    <br>
	{{item.getName}}
    <br>
	{{item.getDescription}}

    <div style="display:inline-block;width:25%;">
      <div align="center">
      	<!-- 公開開始から７日以内ならNEWアイコン -->
        {% if date(item.getDistributedFrom) > date('-7days') %}
        	<img style="width: 50%" src="{{ asset('/bundles/machigaigame/images/parts/shop_newicon.png')  }}" /><br />
        {% endif %}
        	<!-- 消費ポイント -->
        	<p style="font-size:1.3em">{{item.getConsumePoint}}pt</p><br />
        	<span class="detail">
        		{% if item.getId in purchasedItems %}
        			<a href="{{ path('confirm',{"id":item.getId}) }}">
        				<img id="shopredl{{item.getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_shopredl_off.png') }}" width="100%" onclick="changeImage(this.id);"/>
        			</a>
        		{% else %}
        			<a href="{{ path('ShopDownload',{"id":item.getId}) }}"><img id="shopbuy{{item.getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy_off.png') }}" width="100%" onclick="changeImage(this.id);"/></a>
        		{% endif %}
        	</span>
      </div>
    </div>
</td>
{% endfor %}
</tr>
</table>
