{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}MachigaiGameBundle:Shop:download{% endblock %}

{% block body %}
<script>
var image_path = null;
var image_id = null;
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
</script>
<div style=" font-size:1em;">
<img src="{{ asset('/bundles/machigaigame/images/parts/header_shop.png') }}" width="100%" />
<br />
<img src="{{ asset('/bundles/machigaigame/images/parts/header_shop_contentdetail.png') }}" width="100%" style="position:relative;margin-top:2%"/>
<div style="border-bottom: 3px solid rgb(25,152,231);"></div>

<div style="padding:2%">
以下の内容でよろしければ購入ボタンを押してください。
</div>
<div class="shop_contentdetailarea" style="padding:2%">
<img src="{{ asset('/bundles/machigaigame/images/wallpaper/sample.png')  }}"style="margin:0 auto;;width:20%;height:20%;padding-top:2%"/><br />
<div style="padding:2%">{{items.0.getName}}</div>
<div style="font-size:0.7em;padding-bottom:2%;">{{items.0.getDescription}}</div>
必要ポイント:{{items.0.getConsumePoint}}pt<br />
</div>
<div style="border-bottom: 7px solid rgb(25,152,231);"></div>
<img src="{{ asset('/bundles/machigaigame/images/parts/header_shop_point.png') }}" width="100%" />
<div class="shop_contentdetailarea" style="padding:2%">
{% set remainder = user.getCurrentPoint - items.0.getConsumePoint %}
{{user.getCurrentPoint}} pt → {% if remainder < 0 %} 0 pt<br /> {% else %}
{{user.getCurrentPoint - items.0.getConsumePoint}} pt<br />
{% endif %}
{% if remainder > -1 %}
<a href="{{ path('confirm',{"id":items.0.getId}) }}"><img id="buy{{items.0.getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy_off.png') }}" width="35%" onclick="changeImage(this.id);"/></a>
{% else %}
<a href="{{ path('ShopError',{"id":items.0.getId}) }}"><img id="buy{{items.0.getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy_off.png') }}" width="35%" onclick="changeImage(this.id);"/></a>
{% endif %}
<br />
購入後30日間は再ダウンロードできます。<br />
</div>
<div style="border-bottom: 7px solid rgb(25,152,231);"></div>
<a href="{{path('Shop')}}"><img id="toshop" src="{{ asset('/bundles/machigaigame/images/parts/button_toshop_off.png')}}" width="35%" onclick="changeImage(this.id);"></a><br />
<a href="{{path('Top')}}"><img id="toapptop" src="{{ asset('/bundles/machigaigame/images/parts/button_totop_off.png')}}" width="35%" onclick="changeImage(this.id);"></a>
</div>
{% endblock %}