{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}MachigaiGameBundle:Shop:download{% endblock %}

{% block body %}
<div style=" font-size:2em;">
<img src="{{ asset('/bundles/machigaigame/images/parts/header_shop.png') }}" width="100%"/>
<br />

<div style="border-bottom: 3px solid rgb(25,152,231);"></div>
<div style="padding:2%">
コンテンツ詳細<br />
</div>
<div style="border-bottom: 3px solid rgb(25,152,231);"></div>

<div style="padding:2%">
以下の内容でよろしければ購入ボタンを押してください。
</div>
<div class="shop_contentdetailarea" style="padding:2%">
<img src="{{ asset('/bundles/machigaigame/images/wallpaper/sample.png')  }}"style="text-align:middle;width:20%;height:20%;"/><br />
<div style="font-size:0.8em">{{items.0.getDescription}}</div>
必要ポイント:{{items.0.getConsumePoint}}pt<br />
</div>
<div style="border-bottom: 7px solid rgb(25,152,231);"></div>
<div style="padding:2%;">
現在のポイント
→
購入後のポイント
</div>
<div class="shop_contentdetailarea" style="padding:2%">
{% set remainder = user.getCurrentPoint - items.0.getConsumePoint %}
{{user.getCurrentPoint}} pt → {% if remainder < 0 %} 0 pt<br /> {% else %}
{{user.getCurrentPoint - items.0.getConsumePoint}} pt<br />
{% endif %}
{% if remainder > -1 %}
<a href="{{ path('confirm',{"id":items.0.getId}) }}"><img src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy.png') }}" width="35%"/></a>
{% else %}
<a href="{{ path('ShopError',{"id":items.0.getId}) }}"><img src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy.png') }}" width="35%"/></a>
{% endif %}
<br />
購入後30日間は再ダウンロードできます。<br />
</div>
<div style="border-bottom: 7px solid rgb(25,152,231);"></div>
<a href="{{path('Shop')}}"><img src="{{ asset('/bundles/machigaigame/images/parts/button_toshop.png')}}" width="35%"></a><br />
<a href="{{path('Top')}}"><img src="{{ asset('/bundles/machigaigame/images/parts/button_toapptop.png')}}" width="35%"></a>
</div>
{% endblock %}