{% if categoryCode == 1 %}
<div class="pagetitle">背景壁紙</div>
{% set rank_tmp = "MachigaiGameBundle:Shop:wallpaper_ranking.html.twig" %}

{% elseif categoryCode == 2 %}
<div class="pagetitle">デコメスタンプ</div>
{% set rank_tmp = "MachigaiGameBundle:Shop:stamp_ranking.html.twig" %}

{% elseif categoryCode == 3 %}
<div class="pagetitle">動くスタンプ</div>
{% set rank_tmp = "MachigaiGameBundle:Shop:animestamp_ranking.html.twig" %}

{% endif %}

{% block stylesheets %}
	<style type="text/css">
	<!--
		.pagetitle{border: solid 3px; font-size: 80px; color: white;background-color: blue;height: 80px;padding: 20px;}
		.texttitle{font-size: 30px; text-align:left; padding: 20px; font-weight: bold}
		
		#category_list{
		  padding: 0 5%;
		}
		#category_list li{
		  list-style: none;
		  width: 100%;
		  border: 3px solid lightgreen;
		}
		#category_list li:last-child{
		  border-bottom: 3px solid lightgreen;
		}
		#category_list li a{
		  font-size: 20px;
		  text-align: left;
		  position: relative;
		  display: block;
		  margin: 0;
		  padding: 15px;
		  background: white;
		  color: black;
		  font-weight: bold;
		  text-decoration: none;
		}
		#category_list li a:before{
		  display: block;
		  content: "";
		  position: absolute;
		  -webkit-transform: rotate(45deg);
		  transform: rotate(45deg);
		  top: 50%;
		  right: 35px;
		  width: 10px;
		  height: 10px;
		  margin-top: -5px;
		  background: black;
		}
		#category_list li a:after{
		  display: block;
		  content: "";
		  position: absolute;
		  -webkit-transform: rotate(45deg);
		  transform: rotate(45deg);
		  top: 50%;
		  right: 40px;
		  width: 10px;
		  height: 10px;
		  margin-top: -5px;
		  background: white;
		}
	-->
	</style>
{% endblock %}

<!-- 新着 -->
<div class="texttitle">新着</div>
<table style="font-size: 20px; width:100%;">
	<tr>
	{% for item in items %}
	<td width="33%">
  		<!-- サムネイル画像 -->
    	<img src="{{ asset(item.getItemThumPath) }}" style="width:100%; "/>
    	<br>

    	<!-- アイテムタイトル -->
		{{item.getName}}
	    <br>

    	<!-- アイテム説明 -->
		{{item.getDescription}}

		<div style="display:inline-block;width:25%;">
			<div align="center">
      		<!-- 公開開始から７日以内ならNEWアイコン -->
        	{% if date(item.getDistributedFrom) > date('-7days') %}
        		<img style="width: 50%" src="{{ asset('/bundles/machigaigame/images/parts/shop_newicon.png')  }}" /><br />
        	{% endif %}
        	<!-- 消費ポイント -->
        	<p style="font-size:1.3em">{{item.getConsumePoint}}pt</p><br />
        	
        	<!-- ダウンロードボタン -->
        	<span class="detail">
        		<!-- 再DL -->
        		{% if item.getId in purchasedItems %}
        			<a href="{{ path('confirm',{"id":item.getId}) }}">
        				<img id="shopredl{{item.getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_shopredl_off.png') }}" width="100%" onclick="changeImage(this.id);"/>
        			</a>
        		<!-- 購入する -->
        		{% else %}
        			<a href="{{ path('ShopDownload',{"id":item.getId}) }}"><img id="shopbuy{{item.getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy_off.png') }}" width="100%" onclick="changeImage(this.id);"/></a>
        		{% endif %}
        	</span>
      		</div>
    	</div>
	</td>
	{% endfor %}
	</tr>
</table>

<!-- もっと見る -->
<div style="text-align: right; font-size: 40px; padding: 40px">
	<a href={{ path('ShopMore',{"categoryCode":categoryCode,"groupCode":"new" }) }}>もっと見る＞</a>
</div>

<!-- ランキング -->
<div class="texttitle">ランキング</div>
{{ include(rank_tmp,{}) }}

<!-- フリーワードで探す  -->
<div class="texttitle">フリーワードで探す </div>
<div style="text-align: center;">
	<form action="{{ path('ShopSearch',{"categoryCode":categoryCode}) }}" method="POST">
		<input name="word" style="width: 80%;" type="text" placeholder="フリーワード（ひらがな）">
		<br /><br />
		<input style="width: 30%;" type="submit" value="検索">
	</form>
</div>

<!-- カテゴリで探す  -->
<div class="texttitle">カテゴリで探す </div>
<ul id="category_list">
{% for group in groups %}
	<li><a href="{{ path('ShopMore',{"categoryCode":categoryCode,"groupCode":group.group.id }) }}">{{group.group.name}}</a></li>
{% endfor %}
</ul>
