{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}MachigaiGameBundle:Shop:index{% endblock %}

{% block body %}

<section>
	{{ include('MachigaiGameBundle:Shop:index_detail.html.twig',{}) }}
</section>

<footer style="margin:3% auto 5% auto;position:relative">
	<img id="toTopImage" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" width="30%" onclick="changeImage(this.id);javascript: goTop();">
	<img id="preToTopImage" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" class="preload">
</footer>

<img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_shopredl.png') }}" />
<img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy.png') }}" />


{% endblock %}
