{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}MachigaiGameBundle:Shop:index{% endblock %}

{% block body %}
<img src="{{ asset('/bundles/machigaigame/images/parts/header_shop.png') }}" width="100%"/>
<section>
<p style="text-align:right;padding-right:2%; font-size:1em;">
現在のポイント：{{user.getCurrentPoint}} pt <br />

<div id="selectBox" style="width:50%;height:30%;position:relative;left:40%;">
  <span style="position:relative;left:-15%">並べ替え</span>
<img style="position:absolute;left:60%;top:7%;height:60%" src="{{ asset('/bundles/machigaigame/images/parts/game_sort.png')}}" width="50%";>
 <select id="sortSelect" style="position:absolute;top:7%;left:60%;width:50%;height:60%;opacity:0;" onchange="sortSelect()"><option value="0"></option><option value="1">50音順</option><option value="2">新しい順</option><option value="3">古い順</option><option value="4">人気順</option></select>
</div>
</p>
<div id="category_tab" class="bottom_blue_line" style="padding:5% 0 0 0;"><img id="stamp_tab" src="{{ asset('/bundles/machigaigame/images/parts/tab_stamp_off.png') }}" width="47%" style="padding-right:2%;" onclick="changeImage(this.id);change_tabs(0)" /><img id="wallpaper_tab" src="{{ asset('/bundles/machigaigame/images/parts/tab_kabegami_off.png') }}" width="47%" onclick="changeImage(this.id);change_tabs(1)" /></div>
<div id="item_area" class="bottom_blue_line" style="width:100%; overflow-y:scroll; background: url({{ asset('/bundles/machigaigame/images/parts/shop_contentdetailarea.png') }}); background-size: 100% auto; " >
<div class="item1"></div><div class="wallpaper1"></div>
<div id="stamp">{{ include('MachigaiGameBundle:Shop:stamp.html.twig',{}) }}</div>
<div id="wallpaper">{{ include('MachigaiGameBundle:Shop:wallpaper.html.twig',{}) }}</div>
</div>
<nav style="padding-top:3%;"><a style="padding-right:20%;">
	<img src="{{ asset('/bundles/machigaigame/images/parts/button_page_back.png')  }}" width="7.5%" id="prev"/></a><span><span id="page"></span> / <span id="maxPage"></span> </span><a style="padding-left:20%;"><img src="{{ asset('/bundles/machigaigame/images/parts/button_page_next.png')  }}" width="7.5%" id="next" /></a></nav>
</section>
<footer style="margin:3% auto 5% auto;">
  <a href="{{path('Top')}}" style="margin-right:7%;"><img id="toapptop" src="{{ asset('/bundles/machigaigame/images/parts/button_toapptop_off.png')}}" width="35%" onclick="changeImage(this.id);"></a>
</footer>

<script>
var page = 0;
var current_mode = 0;
var image_path = null;
var image_id = null;
$(function(){
  $('#wallpaper').hide();
})

$(function() {

  function draw() {
    if(current_mode==0){
      var target = '.item1';
    }else{
      var target = '.wallpaper1';
    }
    $('#page').html(page + 1);
    $(target).hide();
    var str = target+':first,'+target+':gt("'+page*20+'"):lt(20)';
  $(str).show();
    rewritePageNum();
  }
  $('#prev').click(function() {
    if (page > 0) {
      page--;
      draw();
    }
  });
  $('#next').click(function() {
    if(current_mode==0){
      var target = '.item1';
    }else{
      var target = '.wallpaper1';
    }
    if (page < ($(target).size() - 1) / 20 - 1) {
      page++;
      draw();
    }
  });
  draw();
});

function sortSelect(){
	var optionValue = $('#sortSelect').val();
	if(optionValue == 1){
		window.location = "{{path('ShopSort',{"field":"name"})}}";
	}else if(optionValue == 2){
		window.location = "{{path('ShopSort',{"field":"createdAt"})}}";
	}else if(optionValue == 3){
		window.location = "{{path('ShopSort',{"field":"orderByOld"})}}";
	}else if(optionValue == 4){
    window.location = "{{path('ShopSort',{"field":"popularity"})}}";
  }
}
function rewritePageNum(){
    var max = parseInt($('.item1').size());
    $('#page').html(page+1);
    if((max%20)==0){
      if(parseInt(max/20)==0){
        $('#maxPage').html(1);
      }else{
        $('#maxPage').html(parseInt(max/20));
      }
    }else{
      if(parseInt(max/20)==0){
        $('#maxPage').html(1);
      }else{
        $('#maxPage').html(parseInt(max/20+1));
      }
    }
  }
function change_tabs(data){
  page = 0;
  if(data == 0){
    current_mode = 0;
    $('#wallpaper').hide();
    $('#stamp').show();
  }else{
    current_mode = 1;
    $('#stamp').hide();
    $('#wallpaper').show();
  }
}
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
</script>
{% endblock %}
