<!-- ランキング -->
<table style="font-size: 20px; width:100%;">
	<tr>
	<!-- 1位 -->
	<td width="33%">
  		<!-- サムネイル画像 -->
    	<img src="{{ asset('/bundles/machigaigame/images/stamp/')}}XXXX_thum.png" style="width:100%;"/><br>
    	<!-- アイテムタイトル -->
    	ほげほげ<br>
    	<!-- アイテム説明 -->
    	ほげほげ<br>

		<div style="display:inline-block;width:25%;">
			<div align="center">
        	<!-- 消費ポイント -->
        	<p style="font-size:1.3em">XXXXpt</p><br />
        	<span class="detail">
				<a href="{{ path('ShopDownload',{"id":"XXX"}) }}"><img id="shopbuyXXX" src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy_off.png') }}" width="100%" onclick="changeImage(this.id);"/></a>
        	</span>
      		</div>
    	</div>
	</td>
	<!-- 2位 -->
	<td width="33%">
  		<!-- サムネイル画像 -->
    	<img src="{{ asset('/bundles/machigaigame/images/stamp/')}}XXXX_thum.png" style="width:100%;"/><br>
    	<!-- アイテムタイトル -->
    	ほげほげ<br>
    	<!-- アイテム説明 -->
    	ほげほげ<br>

		<div style="display:inline-block;width:25%;">
			<div align="center">
        	<!-- 消費ポイント -->
        	<p style="font-size:1.3em">XXXXpt</p><br />
        	<span class="detail">
				<a href="{{ path('ShopDownload',{"id":"XXX"}) }}"><img id="shopbuyXXX" src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy_off.png') }}" width="100%" onclick="changeImage(this.id);"/></a>
        	</span>
      		</div>
    	</div>
	</td>
	<!-- 3位 -->
	<td width="33%">
  		<!-- サムネイル画像 -->
    	<img src="{{ asset('/bundles/machigaigame/images/stamp/')}}XXXX_thum.png" style="width:100%;"/><br>
    	<!-- アイテムタイトル -->
    	ほげほげ<br>
    	<!-- アイテム説明 -->
    	ほげほげ<br>

		<div style="display:inline-block;width:25%;">
			<div align="center">
        	<!-- 消費ポイント -->
        	<p style="font-size:1.3em">XXXXpt</p><br />
        	<span class="detail">
				<a href="{{ path('ShopDownload',{"id":"XXX"}) }}"><img id="shopbuyXXX" src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy_off.png') }}" width="100%" onclick="changeImage(this.id);"/></a>
        	</span>
      		</div>
    	</div>
	</td>
	</tr>
</table>
