<div style="font-size:1.5em;">
<ul class="panel" style="padding-top:0.8%; ">
{% for item in items %}
{% if item.category.categoryCode == 1 %}
   <li class="wallpaper1" style="display:block; text-align:left; padding:1%; border: 1px solid rgb(253,138,55)">
    <img src="{{ asset('/bundles/machigaigame/images/wallpaper/sample.png')  }}" width="15%" style="text-align:middle;width:80px;height:80px;"/>
    <div style="display:inline-block;width:55%; ">
	<p style="text-align:left;">
  <span class="title">
  {{item.getItemCode}}  
  </span>
  <div style="font-size:0.8em">
	   <span class="description">{{item.getDescription}}<br /></span>
           <span class="updated_at">{{item.getCreatedAt|date('Y/m/d')}} UP!</span>
  </div>
	</p>
    </div>
  <div style="display:inline-block;">
  <div align="center">
  {% if date(item.getCreatedAt) > date('-7days') %}
  <img src="{{ asset('/bundles/machigaigame/images/parts/shop_newicon.png')  }}" /><br />
  {% endif %}
	{{item.getConsumePoint}}pt<br />
  <span class="detail"><a href="{{ path('ShopDownload',{"id":item.getId}) }}"><img src="{{ asset('/bundles/machigaigame/images/parts/button_contentdetail_buy.png') }}" width="50%"/></a></span>
  </div>
    </div>
   </li>
{% endif %}
{% endfor %}
</ul>
</div>