<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}間違い探し{% endblock %}</title>
	<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-1.10.2.min.js') }}"></script>
	<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
	<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery.timer.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/timeCalculater.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/changeImage.js') }}"></script>
	<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/android.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/jquery.center.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/jquery.center.min.js') }}"></script>
	<link rel="stylesheet" src="{{ asset('bundles/machigaigame/css/html5reset-1.6.1.css')  }}" />
	<link rel="stylesheet" src="{{ asset('bundles/machigaigame/css/no-theme/jquery-ui-1.10.3.custom.min.css')  }}" />

	<link rel="stylesheet" src="{{ asset('bundles/machigaigame/css/html5reset-1.6.1.css>Error')  }}" />
        <style>
	 body,*{padding:0;border:none;margin:0;}
         img{vertical-align:text-bottom;}
	 body{ text-align: center; background:url( {{asset('/bundles/machigaigame/images/parts/2-01_bg_.png')}}   );}
	ul,li{list-style-type:none;}
 	.top_bg{background: url({{asset('/bundles/machigaigame/images/parts/top_bg.png')}})}
	.bottom_blue_line{border-bottom:3px solid rgb(0,142,238);}
	.shop_contentdetailarea{background:url({{asset('/bundles/machigaigame/images/parts/shop_contentdetailarea.png')}});}
	</style>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
	{% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
</body>
</html>

