{% extends "MachigaiGameBundle:Help:base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<img src="{{ asset('/bundles/machigaigame/images/parts/1-01_1_01-07bg.png')  }}" width="100%" style="position:absolute;left:0%;top:0%"/>
<style>
#form_password{position:relative;margin-top:20%;width:70%;background-image: url({{ asset('/bundles/machigaigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
</style>
<p style="padding:2%;font-size:1em;text-align:center;position:relative;margin-top:50%;color:rgb(22,101,179)">変更後のパスワードを入力し、変更ボタンを押してください。</p>
{{form(form)}}
   <img id="changePass" style="position:relative;width:35%;margin-top:10%" src="{{ asset('/bundles/machigaigame/images/parts/button_regist_off.png')}}" onclick="changeImage(this.id);submitButton()" ><br />
   <img id="returnButton" style="position:relative;width:60%;margin-top:10%" src="{{ asset('/bundles/machigaigame/images/parts/buttom_return_off.png')}}" onclick="changeImage(this.id);history.back()">
<script>
$(function(){
//	$('#form_confirm').hide();
})
function submitButton(){
	var password = $('#form_password').val();
	if(!password.match(/\S/i) || password.length < 6){
		if(navigator.userAgent.indexOf('Android') > 0){
	      droid.alert("パスワードは半角英数６文字以上入力してください。");
	    }else{
			alert("パスワードは半角英数字６文字以上で入力してください。");
		}
	}else{
		$('#form_confirm').trigger('click');
	}
}
</script>
{% endblock %}