<html><body>
<h1>au ID Oauth</h1>
<strong>state:</strong><br />
{{ state }}<br /><br />
<strong>code:</strong><br />
{{ code }}<br /><br />
<strong>AccessToken:</strong><br />
{{ accessToken }}<br /><br />
<strong>RefreshToken:</strong><br />
{{ refreshToken }}<br /><br />
<strong>RefreshLimit:</strong><br />
{{ refreshLimit }}<br /><br />
<br /><a href="{{ path('response_token') }}?method=retry">Retry</a>;
</body></html>
