{% extends "MachigaiGameBundle::base.html.twig" %}
{% block title %}ニックネーム名登録{% endblock %}
{% block body %}

{% if reword %}
<img src ="https://reward.gree.net/wt/a?cid={{cid}}&ad={{ad}}&uid={{uid}}&digest={{digest}}" width="1" height="1">
{% else %}
<script>
  registerUserIfAndroid("{{ syncToken }}");
  if(window["droid"]){
      droid.sendReword();
  }
</script>
{% endif %}

<img src="{{ asset('/bundles/machigaigame/images/parts/1-01_4_bg
.png')}}" style="width:100%;height:auto;position:absolute;left:0;top:0">

<img src="{{ asset('/bundles/machigaigame/images/parts/bar_nicknameregist.png')}}" style="position:absolute;width:100%;left:0;top:17%;">

<section id="nicknameForm" style="position:relative;margin-top:53%">
 <form action="{{ path('AndroidRegisterConfirm') }}" method="post" {{ form_enctype(form) }}>
 {{ form_errors (form) }}
<input type="text" id="form_nickname" name="form[nickname]" required="required" style="margin-top:2%;background-image:url(/bundles/machigaigame/images/parts/nicknametextarea.png);background-size:100% 100%; background-repeat:no-repeat;width:84%;height:2.3em;">
<br />
  <input type="hidden" name="state" value="confirm"><br />
<input type="submit" id="submitButton">
  {{ form_widget (form.confirm) }}
</section>

<img id="nickname" width="70%" src="{{ asset('/bundles/machigaigame/images/parts/button_registcheck2_off.png')}}" onclick="changeImage(this.id);submitNickname();" style="position:relative; width:70%; margin-top:48%">
<img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_registcheck2.png')}}" >

<script>
var image_path = null;
var image_id = null;
$(function(){
  $('#submitButton').hide();
  $('#submitEnd').hide();
  $('#form_confirm').hide();
})
function submitNickname(){
  $('#submitButton').trigger("click");
}
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
</script>
{% endblock %}