{% extends "MachigaiGameBundle::base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}

<img src="{{ asset('/bundles/machigaigame/images/parts/1-01_3_bg
.png')}}" style="width:100%;height:auto;position:absolute;left:0;top:0">

<img src="{{ asset('/bundles/machigaigame/images/parts/bar_nicknameregistend.png')}}" style="position:relative;top:10%;width:100%;margin-top:29%">

<a href="{{path('Register',{"temp":tempPass})}}"><img id="nickname" src="{{ asset('/bundles/machigaigame/images/parts/button_nickname_off.png')}}" onclick="changeImage(this.id);" style="position:relative;margin-top:34%;width:60%;"></a>

<img  src="{{ asset('/bundles/machigaigame/images/parts/button_nickname.png')}}" class="preload">

{% endblock %}