{% extends "MachigaiGameBundle::base.html.twig" %}
{% block title %}ニックネーム名登録{% endblock %}
{% block body %}

<img src="{{ asset('/bundles/machigaigame/images/parts/1-01_6_bg
.png')}}" style="width:100%;height:auto;position:absolute;left:0;top:0">

<img src="{{ asset('/bundles/machigaigame/images/parts/bar_touroku_end.png')}}" style="position:relative;top:10%;width:100%;margin-top:31%">

<a id="loginAndTop" href="{{ path('LoginAfterSettingName',{'email':email, 'pass':pass})}}">
<img id="toTop" src="{{ asset('/bundles/machigaigame/images/parts/button_toapptop_off.png')}}" onclick="changeImage(this.id);submitButton();" style="position:relative;margin-top:37%;width:64%"></a>
<img src="{{ asset('/bundles/machigaigame/images/parts/button_toapptop.png')}}" class="preload">
<script>
var image_path = null;
var image_id = null;
$(function(){
  $('#submitButton').hide();
//  $('#loginAndTop').hide();
  $('#form_confirm').hide();
})
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
function submitButton(){
  $('#loginAndTop').trigger('click');
}
</script>
{% endblock %}