{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}ニックネーム名登録{% endblock %}

{% block body %}
<header><h1><img src="{{ asset('/bundles/machigaigame/images/parts/header.png')}}" style="width:100%"></h1></header>
<img src="{{ asset('/bundles/machigaigame/images/parts/bar_nicknameregist.png')}}" style="width:100%">
<div style="font-size:2em">
<form action="{{ path('complete') }}" method="post" {{ form_enctype(form) }}>
<section>
<p>以下の内容でよろしければ登録ボタンを押してください。</p>
<div style="2.5em;padding:5%"><p>{{nickname['nickname']}}</p></div>
<input type="submit" id="submitButton">
<div id="submitEnd">
{{form_row(form,{ 'attr': {'id': "submitEnd" } } )  }}
{{ form_end (form) }}
</div>
<a href="{{path('Register')}}"><img id="button_back" src="{{ asset('/bundles/machigaigame/images/parts/button_back_off.png')}}" style="width:35%;align:center;" onclick="changeImage(this.id)"></a>
<img id="nicknamechange" src="{{ asset('/bundles/machigaigame/images/parts/button_nicknamechange_off.png')}}" style="width:35%;align:center;" onclick="changeImage(this.id);submitNickname()">
</section>
</div>
<script>
var image_path = null;
var image_id = null;
$(function(){
	$('#submitButton').hide();
	$('#submitEnd').hide();
})
function submitNickname(){
	$('#submitButton').trigger("click");
}
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
</script>
{% endblock %}