{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}ニックネーム名登録{% endblock %}

{% block body %}
<header><h1><img src="{{ asset('/bundles/machigaigame/images/parts/header.png')}}" style="width:100%"></h1></header>
<img src="{{ asset('/bundles/machigaigame/images/parts/bar_nicknameregist.png')}}" style="width:100%">
<div style="font-size:2em">
<form action="{{ path('complete') }}" method="post" {{ form_enctype(form) }}>
<section>
<p>以下の内容でよろしければ登録ボタンを押してください。</p>
<div style="2.5em;padding:5%"><p>{{nickname['nickname']}}</p></div>
<input type="submit" id="submitButton">
<div id="submitEnd">
{{form_row(form,{ 'attr': {'id': "submitEnd" } } )  }}
{{ form_end (form) }}
</div>
<a href="{{path('Register')}}"><img src="{{ asset('/bundles/machigaigame/images/parts/button_back.png')}}" style="width:35%;align:center;"></a>
<img src="{{ asset('/bundles/machigaigame/images/parts/button_nicknamechange.png')}}" style="width:35%;align:center;" onclick="submitNickname()">
</section>
</div>
<script>
$(function(){
	$('#submitButton').hide();
	$('#submitEnd').hide();
})
function submitNickname(){
	$('#submitButton').trigger("click");
}
</script>
{% endblock %}