{% extends "MachigaiGameBundle::base.html.twig" %}
{% block title %}パスワード再発行メール送信{% endblock %}
{% block body %}

<img src="{{ asset('/bundles/machigaigame/images/parts/1-01_1_01-07bg.png')}}"
     style="width:100%;height:auto;position:absolute;left:0;top:0">

<div style="position: relative; margin-top: 35%; padding: 3%; text-align:left;">
    内容を確認後、「メール送信」ボタンを押してください。その後、仮パスワードが記載された返信メールが自動で送られます。<br />
メール内に記載されているURLをクリックしていただくと登録が完了します。
</div>

<section id="nicknameConfirm" style="position:relative;margin:3% 10%;">
<form action="{{ path('ForgetPasswordSend') }}" method="post" {{ form_enctype(form) }}>
<div style=""><p>{{mailAddress}}</p></div>
<input type="submit" id="submitButton">
<div id="submitEnd">
{{form_row(form,{ 'attr': {'id': "submitEnd" } } )  }}
{{ form_end (form) }}
</div>
</section>
<div style="position: relative; margin-top: 1%; padding: 3%; color: red; text-align:left;">
    <p>※メール内に記載されているURLをクリックしていただかないと登録は完了しません。</p>
    <p>※ログイン後、TOPの「ヘルプ」→「ユーザー登録について」→「パスワード変更」より、パスワードを変更していただくことをお勧めします。</p>
</div>

<img id="nicknamechange" src="{{ asset('/bundles/machigaigame/images/parts/button_regist_off.png')}}" onclick="changeImage(this.id);submitNickname()" style="position:relative;margin-top:15%;width:30%">
<img src="{{ asset('/bundles/machigaigame/images/parts/button_regist.png')}}" class="preload"><br />
<img id="buttonReturn" src="{{ asset('/bundles/machigaigame/images/parts/buttom_return_off.png')}}" onclick="changeImage(this.id);history.back();" style="position:relative;margin-top:5%;width:60%">
<img src="{{ asset('/bundles/machigaigame/images/parts/buttom_return.png')}}" class="preload">
<script>
var image_path = null;
var image_id = null;
$(function(){
  $('#submitButton').hide();
  $('#submitEnd').hide();
  $('#form_confirm').hide();
})
function submitNickname(){
  $('#submitButton').trigger("click");
}
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
</script>
{% endblock %}