{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}ニックネーム名登録{% endblock %}

{% block body %}
<header><h1><img src="{{ asset('/bundles/machigaigame/images/parts/header.png')}}" style="width:100%"></h1></header>
<img src="{{ asset('/bundles/machigaigame/images/parts/bar_nicknameregist.png')}}" style="width:100%">
<div style="font-size:2em">
<section>
 <form action="{{ path('RegisterConfirm') }}" method="post" {{ form_enctype(form) }}>
 {{ form_errors (form) }}
  <p>auIDログインが完了しました。<br />
登録を続けるにはニックネームを入力してください。</p>
<div style="width:auto;height:auto;padding:2%;font-size:1em;background-image:url({{ asset('/bundles/machigaigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat">

{{ form_widget (form.nickname, { 'attr':{'style':'width:8em;font-size:2em;' }}) }}
<!--{{ form_widget (form.nickname)}}-->
</div>
<br />
  <input type="hidden" name="state" value="confirm"><br />
 <img src="{{ asset('/bundles/machigaigame/images/parts/button_nicknamechange.png')}}" style="width:35%;align:center;" onclick="submitNickname()">
 
  <p>ニックネームはランキングに表示されます。<br />
本名・住所など個人を特定できる内容は記載しないようご注意ください。<br />
また、ニックネームはTOP画面の「ヘルプ」→「設定」から変更することができます。</p>
<input type="submit" id="submitButton">
  {{ form_widget (form.confirm) }}
 {{ form_end (form, {'attr':{'id':'submitEnd'}}) }}
</section>
</div>
<script>
$(function(){
	$('#submitButton').hide();
	$('#submitEnd').hide();
	$('#form_confirm').hide();
})
function submitNickname(){
	$('#submitButton').trigger("click");
}
</script>
{% endblock %}