{% extends "MachigaiGameBundle::base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<style>
 .mailaddress {width:100%;padding:1%;background-image:url({{ asset('/bundles/machigaigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
 .invisible {opacity:0;}
 #form_password {width:100%;padding:1%;margin-top:19%;position:relative;background-image:url({{ asset('/bundles/machigaigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
 .registerForm {width:80%;margin:0 auto;position:absolute;left:8%;top:35%;}
 .linkButtons {position:relative;margin-top:23%;}
 #mailAddress{position:relative;margin-top:37%}
.domain_help{
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #FFF8DC;
    font-size: 0.8em;
    padding: 0.8em;
    color: blue;
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 80%;
 } 
</style>
<img src="{{ asset('/bundles/machigaigame/images/parts/1-01_2_bg
.png')}}" style="width:100%;height:auto;position:absolute;left:0;top:0">
<img src="{{ asset('/bundles/machigaigame/images/parts/bar_touroku_check.png')}}" style="position:relative;width:100%;margin-top:28%">

<section>
 <form action="{{ path('RegisterUserComplete') }}" method="post" >
 <p id="mailAddress">{{userData.mailAddress}}</p>
 {{form(form)}}

  <div style="color: red; font-size: 0.7em; text-align: left; position: relative; margin-top: 30px; width: 80%; margin-left: 10%">
        ＜注意＞
        ご利用のセキュリティソフトやメールソフトによっては、迷惑メールフォルダやゴミ箱に自動振り分けされたり、削除される可能性がございます。<br />
        下記を受信可能なドメインとして設定してください。          
  </div>
  <div class="domain_help">
       @machigai.puzzle-m.net
  </div>

 
   <div class="linkButtons">
   <a href="{{path('RegisterUser')}}" id="htopImage">
   <img id="topImage" style="width:30%" src="{{ asset('/bundles/machigaigame/images/parts/button_modify_off.png')}}" onclick="changeImage(this.id);"></a>
   <img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_modify.png')}}" >

   <img id="registerConfirm" src="{{ asset('/bundles/machigaigame/images/parts/button_send_mail_off.png')}}" onclick="changeImage(this.id);submitRegister()" style="margin-left:14%;width:30%">
   <img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_send_mail.png')}}" >
  </div>
</div>


</section>
<script>
$(function(){
	$('#form').hide();
	$('#form_confirm').hide();
})
function submitRegister(){
	$('#form_confirm').trigger("click");
}
</script>
</div>
{% endblock %}