{% extends "MachigaiGameBundle::base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-1.10.2.min.js') }}"></script>
  <script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
  <script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery.timer.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/machigaigame/js/timeCalculater.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/machigaigame/js/changeImage.js') }}"></script>
  <script type='text/javascript' src="{{ asset('bundles/machigaigame/js/android.js') }}"></script>
  <link rel="apple-touch-icon" href="" />
  <link rel="stylesheet" src="{{ asset('bundles/machigaigame/css/html5reset-1.6.1.css')  }}" />
  <link rel="stylesheet" src="{{ asset('bundles/machigaigame/css/no-theme/jquery-ui-1.10.3.custom.min.css')  }}" />

  <link rel="stylesheet" src="{{ asset('bundles/machigaigame/css/html5reset-1.6.1.css>Error')  }}" />
<style>
 #form_mailAddress {width:100%;padding:1%;background-image:url({{ asset('/bundles/machigaigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
 .invisible {opacity:0;}
 #form_password {width:100%;padding:1%;margin-top:19%;position:relative;background-image:url({{ asset('/bundles/machigaigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
 .registerForm {width:80%;margin-top:26%;position:relative;left:8%;}
 #form_confirm{opacity:0;}
</style>
<img src="{{ asset('/bundles/machigaigame/images/parts/1-01_1_bg.png')}}" style="width:100%;height:auto;position:absolute;left:0;top:0">
<img src="{{ asset('/bundles/machigaigame/images/parts/bar_kaiin.png')  }}" width="100%" style="position:relative;margin-top:29%"/>

<section>
  <div class="registerForm">
  <form action="{{ path('RegisterUserConfirm') }}" method="post" {{ form_enctype(form) }}>
  {{ form_errors (form) }}
  {{ form_rest(form) }}
  {{ form (form) }}
  <div style="position:relative;margin-top:10%;color:rgb(250,0,127);font-size:0.7em;">
  {% if error is not empty %}
  {{error}}
  {% endif %}
  </div>
   <div class="linkButtons" style="position:relative;margin-top:20%;z-index:2; text-align:center">

   <img id="registerConfirm" width="50%" src="{{ asset('/bundles/machigaigame/images/parts/button_registcheck_off.png')}}" onclick="changeImage(this.id);submitRegister()" style="width:35%;" >
   <img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_registcheck.png')}}"  >
   <br /><br />
   <a href="{{path('Top')}}" id="htopImage">
   <img id="toTopImage" width="35%" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" onclick="changeImage(this.id);"></a>
   <img src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop.png')}}" class="preload">
   </div>
  </div>
</section>
<script>
$(function(){
	$('#form_confirm').hide();
})
function submitRegister(){
  var mail_address = $('#form_mailAddress').val();
  var password = $('#form_password').val();
  if(!mail_address.match(/[\S]+[\w-]+@[\w\.-]+\.\w{2,}$/)){
    if(navigator.userAgent.indexOf('Android') > 0){
      droid.alert("メールアドレスを入力してください。")
    }else{
      alert("メールアドレスを入力してください。");
    }
  }else if(!password.match(/\S/) || password.length < 6){
    if(navigator.userAgent.indexOf('Android') > 0){
      droid.alert("パスワードは半角英数６文字以上入力してください。");
    }else{
      alert("パスワードは半角英数６文字以上入力してください。");
    }
  }else{
    $('#form_confirm').trigger("click");
  }
}
</script>
</div>
{% endblock %}