{% extends "MachigaiGameBundle::base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<style>
 #form_mailAddress {width:100%;padding:1%;background-image:url({{ asset('/bundles/machigaigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
 .invisible {opacity:0;}
 #form_password {width:100%;padding:1%;margin-top:19%;position:relative;background-image:url({{ asset('/bundles/machigaigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
 .registerForm {width:80%;margin-top:53%;position:relative;left:8%;}
 .linkButtons {position:relative;left:8%;margin-top:33%;float:left;}
</style>
<img src="{{ asset('/bundles/machigaigame/images/parts/1-01_7_bg.png')}}" style="width:100%;height:auto;position:absolute;left:0;top:0">


<section>
  <div class="registerForm">
  <form action="{{ path('RegisterUserConfirm') }}" method="post" {{ form_enctype(form) }}>
  {{ form_errors (form) }}

  {{ form (form) }} 
   <div class="linkButtons">

   <a href="{{path('Top')}}"><img id="topImage" width="35%" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" onclick="changeImage(this.id);"></a>
   <img id="registerConfirm" width="35%" src="{{ asset('/bundles/machigaigame/images/parts/button_registcheck_off.png')}}" onclick="changeImage(this.id);submitRegister()" >

   </div>
  </div>
</section>
<script>
var image_path = null;
var image_id = null;

$(function(){
//	$('#form').hide();
	$('#form_confirm').hide();
})
function submitRegister(){
	$('#form_confirm').trigger("click");
}
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
</script>
</div>
{% endblock %}