  <img src="{{base_url}}{{ asset('/bundles/machigaigame/images/parts/bar_banner.png') }}" width="100%" />

  <div style="color: #FFF; font-size: 0.6em;width: 93%; margin: auto;">
  <br />
  <a href="https://ausp.puzzle-m.net/">
    <img src="{{base_url}}{{ asset('/bundles/machigaigame/images/parts/banner_puzzle.png') }}" width="100%" />
  </a>
  <br />
  <div style="text-align: left;">
  日本最大パズル誌の問題が毎日更新で遊び放題！さっそく遊ぶ♪
  </div>
  <br />
  <br />
  <a href="https://e-aquarium.jp/asp/">
     <img src="{{base_url}}{{ asset('/bundles/machigaigame/images/parts/banner_boe.png') }}" width="100%" />
  </a>
  <br />
  <div style="text-align: left;">
  全国水族館情報＆イベントNEWS+画像満載！さっそくチェック！<br />
  </div>
  <br />
  </div>