{% extends "::base.html.twig" %}
{% block title %}The blog title goes here{% endblock %}
{% block body %}
 <header id="title">
 <h1>タイトルロゴ</h1>
 <p id="user_name"> 【ユーザー名】さん</p>
 <div id="auIDLogin">
  <button>auIDログイン</button>
  <p>auIDでログインすると以下の機能が使えるよ！<br />
（追加料金はかかりません。）</p>
  <nav>
   <ul>
    <li>ポイント</li>
    <li>問題の保存</li>
    <li>ランキング</li>
    <li>ショップ</li>
   </ul>
  </nav>
 </div>
 </header>
 <section id="current_point">
  <h2>現在のポイント</h2>
  <p>xx  pt</p>
 </section>
 <section id="menu">
  <button onclick="location='{{ path('GameSelect') }}'">まちがいさがし</button>
  <button onclick="location='{{ path('Shop') }}'">ショップ</button>
  <button onclick="location='{{ path('Ranking') }}'">ランキング</button>
  <button onclick="location='{{ path('Help') }}'">ヘルプ</button>
 </section>
 <section id="news">
  <h2>おしらせ</h2>
  <p>テキストテキストテキストテキス トテキストテキストテキストテキストテキストテキストテキスト</p>
 </section>
 <section id="smart_pass">
  <a href="{{ path('Top')}}">auスマートパスへ戻る</a>
 </section>
{% endblock %}
