{% extends "MachigaiGameBundle::base.html.twig" %}
{% block body %}
<script>
var image_path = null;
var image_id = null;
function changeImage(imageId){
	var pre_src = $('#'+imageId).attr('src');
	var src = pre_src.replace(/_off/g,'');
	image_path = src;
	image_id = imageId;
	$('#'+imageId).attr("src",src);
	setTimeout("originalImage();", 200);
}
function originalImage(){
	var pre_src = $('#'+image_id).attr('src');
	var src = image_path.replace(/.png/g,'_off.png');
	$('#'+image_id).attr("src",src);
}
</script>
<header id="title" class="top_bg">
 <img src="{{ asset('/bundles/machigaigame/images/parts/header.png') }}" width="100%" />
 <p id="user_name" style="margin: 0 auto; width:90%;white-space:nowrap;font-size:2em;color:rgb(255,254,255);">{% if user is empty %} ゲスト {% else %} {{user.getNickname}} {% endif %}さん</p>
 <div id="auIDLogin" style="">
 {% if user is empty %}
  <div>
  <a href="{{path('RegisterUser')}}">
  <img id="" src="{{asset('/bundles/machigaigame/images/parts/button_touroku.png')}}" width="35%" onclick="changeImage(this.id);"/></a>
  {% if user is not empty %}
  <a href="{{path('Logout')}}"><img width="35%" height="60px" /></a>
  {% else %}
  <a href="{{ path('Login')  }}" alt="login">
  <img id="" src="{{asset('/bundles/machigaigame/images/parts/button_login.png')}}" style="margin-left:10%" width="35%" onclick="changeImage(this.id);"/></a>
  {% endif %}
  </div>
 {% endif %}
 </header>
 {% if user is empty %}
 <section style="background-image:url(/bundles/machigaigame/images/parts/top_textarea.png);background-size:100% 100%; background-repeat:no-repeat;">
  <p style="width:80%;margin: 0 auto;white-space:nowrap;">会員登録すると以下の機能が使えるよ！</p>
  <p style="width:50%;margin: 0 auto;white-space:nowrap;">（追加料金はかかりません。）</p>
  <nav>
   <ul style="list-style-type:disc;width:100%;white-space:nowrap;">
    <li style="display:inline-block;width:17%;padding:1%">・ポイント</li>
    <li style="display:inline-block;width:20%;padding:1%">・問題の保存</li>
    <li style="display:inline-block;width:20%;padding:1%">・ランキング</li>
    <li style="display:inline-block;width:17%;padding:1%">・ショップ</li>
   </ul>
  </nav>
 </div>
 </section>
 {% endif %}
 <section id="current_point" class="top_bg">
  <img alt="現在のポイント" src="{{ asset('/bundles/machigaigame/images/parts/bar_point.png')}}" width="100%" />
  <p style="font-size:2em;color:rgb(255,254,255);padding:1%;">{% if user is empty %} 0 {% else %} {{user.getCurrentPoint}} {% endif %} pt</p>
 </section>
 <section id="menu" class="top_bg">
  <a href='{{ path('GameSelect') }}' style="padding-right:9%;"><img alt="まちがいさがし" id="game_button" src="{{asset('/bundles/machigaigame/images/parts/button_game_off.png')}}" width="35%" onclick="changeImage(this.id);"/></a>
  {% if user is empty %}
  	<img alt="ショップ" src="{{asset('/bundles/machigaigame/images/parts/button_shop_gray.png')}}" width="35%" />
  {% else %}
  	<a href='{{ path('Shop') }}'> 
  	<img alt="ショップ" id="shop_button" src="{{asset('/bundles/machigaigame/images/parts/button_shop_off.png')}}" width="35%" onclick="changeImage(this.id);"/></a>
  {% endif %}<br />
  <a href='{{ path('Ranking') }}' style="padding-right:9%;"><img alt="ランキング" id="ranking_button" src="{{asset('/bundles/machigaigame/images/parts/button_ranking_off.png')}}" width="35%" onclick="changeImage(this.id);"/></a>
  <a href='{{ path('Help') }}'><img alt="ヘルプ" id="help_button" src="{{asset('/bundles/machigaigame/images/parts/button_help_off.png')}}" width="35%" onclick="changeImage(this.id);"/></a>
 </section>
 <section id="news" class="top_bg">
  <img src="{{ asset('/bundles/machigaigame/images/parts/bar_news.png') }}" width="100%" />
  <div class="news" style="color:rgb(255,254,255);">
  {% for i in 0..2 %}
   <p style="text-align:left;width:80%;margin: 0 auto;">{{news[i].getTitle}}<br />{{news[i].getDescription|raw}}</p><br />
  {% endfor %} 
  </div>
<div class="pre_pass white">
<p style="font-size:2em"><a href="http://pass.auone.jp/">auスマートパスに戻る</a></p>
</div>
</section>
{% endblock %}

{% block stylesheets %}
<style>
 /* =================================================
 *  	pre_pass
 * ================================================*/
 /*common */
.pre_pass{
	text-align:center;
	height:44px;
	line-height:44px;
	border:#8f8f8f 1px solid;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	}
.pre_pass a{
	display:block;
	background:url( {{asset('/bundles/machigaigame/images/parts/button_tosmartpass.png')}} ) no-repeat center;
	height:44px;
	width:100%;
	text-indent:-9999px;
	}
	
/*black */	
.pre_pass.black{
	background-image: linear-gradient(bottom, rgb(0,0,0) 4%, rgb(0,0,0) 47%, rgb(59,59,59) 52%, rgb(65,65,65) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.04, rgb(0,0,0)),
	color-stop(0.47, rgb(0,0,0)),
	color-stop(0.52, rgb(59,59,59)),
	color-stop(1, rgb(65,65,65))
);
	border:#000 1px solid;
	}
.pre_pass.black a{
	background:url(../img/txt_02.png) no-repeat center;
	}	
	
/*white */			
.pre_pass.white{
	background:#fff;
	}
	
/*gradation */		
.pre_pass.grada{
	background-image: linear-gradient(bottom, rgb(172,172,172) 0%, rgb(255,255,255) 59%, rgb(255,255,255) 77%, rgb(255,255,255) 94%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(172,172,172)),
	color-stop(0.59, rgb(255,255,255)),
	color-stop(0.77, rgb(255,255,255)),
	color-stop(0.94, rgb(255,255,255))
);
	border:#8f8f8f 1px solid;
	}
</style>
{% endblock %}
