{% extends "KanaheiGameBundle:Help:base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<style>
 #form_mailAddress {width:100%;padding:1%;background-image:url({{ asset('/bundles/kanaheigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
 #form_password {width:100%;padding:1%;margin-top:19%;position:relative;background-image:url({{ asset('/bundles/kanaheigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
 .registerForm {width:80%;margin-top:12%;position:relative;left:8%;}
</style>
<img src="{{ asset('/bundles/kanaheigame/images/parts/header.png')  }}" width="100%" style="position:absolute;left:0%;top:0%"/>
<section>
  <p style="padding:3%;position:relative;margin-top:50%;color:rgb(22,101,179)">変更後のメールアドレスを入力し登録内容確認ボタンを押してください。</p>
  <div class="registerForm">
  <p style="color:rgb(22,101,179)">メールアドレス</p>
  {{ form (form) }}
  <div style="position:relative;margin-top:10%;color:rgb(250,0,127);font-size:0.7em;">
  {% if caution is not empty %}
      {{caution}}
  {% endif %}
  </div>
  <div style="position:relative;margin-top:10%;color:rgb(250,0,127);font-size:0.7em;">
  </div>
  <div style="text-align:center">
   <img class="linkButtons" style="width:65%;margin-top:17%" id="toConfirm" src="{{ asset('/bundles/kanaheigame/images/parts/button_otoiawasecheck_off.png')}}" onclick="changeImage(this.id);submitRegister()"><br />
   <img class="linkButtons" id="returnButton" style="width:65%;margin-top:5%" src="{{ asset('/bundles/kanaheigame/images/parts/buttom_return_off.png')}}" onclick="changeImage(this.id);history.back()" >
  </div>
  </div>
</section>
<script>
var image_path = null;
var image_id = null;

$(function(){
//	$('#form').hide();
	$('#form_confirm').hide();
})
function submitRegister(){
  var mail_address = $('#form_mailAddress').val();
  if(!mail_address.match(/[\S]+[\w-]+@[\w\.-]+\.\w{2,}$/)){
    if(navigator.userAgent.indexOf('Android') > 0){
      droid.alert("メールアドレスを入力してください。")
    }else{
      alert("メールアドレスを入力してください。");
    }
  }else{
  	$('#form_confirm').trigger("click");
  }
}
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
</script>
</div>
{% endblock %}