{% extends "KanaheiGameBundle:Help:base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<style>
 #form_mailAddress {width:100%;padding:1%;background-image:url({{ asset('/bundles/kanaheigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
 #form_password {width:100%;padding:1%;margin-top:19%;position:relative;background-image:url({{ asset('/bundles/kanaheigame/images/parts/nicknametextarea.png')}});background-repeat:no-repeat;background-size:100% 100%;}
</style>
<img src="{{ asset('/bundles/kanaheigame/images/parts/1-01_2_bg.png')  }}" width="100%" style="position:absolute;left:0%;top:0%"/>

<div style="position:relative;margin-top:70%">{{newEmail}}</div>

<section>
  <div class="registerForm">
  {{ form (form) }}

   <img id="topImage" style="position:relative;width:35%;margin-top:15%" src="{{ asset('/bundles/kanaheigame/images/parts/button_modify_off.png')}}" onclick="changeImage(this.id);history.back()">
   <img id="registerConfirm" style="position:relative;width:35%" src="{{ asset('/bundles/kanaheigame/images/parts/button_send_mail_off.png')}}" onclick="changeImage(this.id);submitRegister()" >

  </div>
</section>
<script>
var image_path = null;
var image_id = null;

$(function(){
//	$('#form').hide();
	$('#form_confirm').hide();
})
function submitRegister(){
	$('#form_confirm').trigger("click");
}
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
</script>
</div>
{% endblock %}