{% extends "KanaheiGameBundle:Help:base.html.twig" %}

{% block title %}遊び方{% endblock %}

{% block contents %}
<script>
var image_path = null;
var image_id = null;
$(function(){
	$('#button_tohelp').hide();
	$('#toapptop').hide();
})
function changeImage(imageId){
	var pre_src = $('#'+imageId).attr('src');
	var src = pre_src.replace(/_off/g,'');
	image_path = src;
	image_id = imageId;
	$('#'+imageId).attr("src",src);
	setTimeout("originalImage();", 200);
}
function originalImage(){
	var pre_src = $('#'+image_id).attr('src');
	var src = image_path.replace(/.png/g,'_off.png');
	$('#'+image_id).attr("src",src);
}
</script>
<!--
背景
<img src="{{asset('/bundles/kanaheigame/images/parts/2-04-5_bg.png')}}" width="100%" style="position:absolute;left:0%;top:0%"/>

ヘッダー
<img src="{{ asset('/bundles/kanaheigame/images/parts/header_help.png')  }}" width="100%" style="position:absolute;left:0%;top:0%"/>

バナー ユーザー情報について
<img src="{{asset('/bundles/kanaheigame/images/parts/header_user_information.png')}}" width="100%" style="position:relative;margin-top:14%"/>-->
<div style="position:relative;margin-top:55%">
	<a href="{{path('ChangeEmail')}}">登録メールアドレス変更</a><br />
	<a href="{{path('ChangePassword')}}">パスワード変更</a><br />
	<a href="{{path('DeleteUser')}}">ユーザー情報削除</a><br />
<!--<a href="{{path('ChangeEmail')}}"><img id="changeEmailAddress" src="{{asset('/bundles/kanaheigame/images/parts/button_change_mailaddress_off.png')}}" width="67%" onclick="changeImage(this.id)"/></a><br />
<a href="{{path('ChangePassword')}}"><img id="changePass" src="{{asset('/bundles/kanaheigame/images/parts/button_change_password_off.png')}}" width="67%" onclick="changeImage(this.id)"/></a><br />
<a href="{{path('DeleteUser')}}"><img id="userDelete" src="{{asset('/bundles/kanaheigame/images/parts/button_user_delete_off.png')}}" width="67%" onclick="changeImage(this.id)"/></a><br />
<img class="preload" id="preuserDelete" src="{{asset('/bundles/kanaheigame/images/parts/button_user_delete.png')}}" width="67%"/>
-->
<!--<a href="{{path('Logout')}}">ログアウト</a><br />-->
<!--
 <a href="{{ path('ChangeEmail') }}"><img id="otoiawase" src="{{ asset('/bundles/kanaheigame/images/parts/button_otoiawase_off.png') }}" width="67%;" onclick="changeImage(this.id);"/></a>
 <div style="position:relative;margin-top:7%">
 <a href="{{ path('ChangePassword') }}"><img id="tohelptop" src="{{asset('/bundles/kanaheigame/images/parts/buttom_return_helptop_off.png')}}" width="67%" onclick="changeImage(this.id)"/></a>
</div>
<div style="position:relative;margin-top:7%">
 <a href="{{ path('DeleteUser') }}"><img id="tohelptop" src="{{asset('/bundles/kanaheigame/images/parts/buttom_return_helptop_off.png')}}" width="67%" onclick="changeImage(this.id)"/></a>
</div>
-->
<div style="position:relative;margin-top:7%">
 <a href="{{ path('Help') }}"><img id="tohelptop" src="{{asset('/bundles/kanaheigame/images/parts/buttom_return_helptop_off.png')}}" width="67%" onclick="changeImage(this.id)"/></a>
 <img class="preload" src="{{asset('/bundles/kanaheigame/images/parts/buttom_return_helptop.png')}}" />
 <img class="preload" src="{{asset('/bundles/kanaheigame/images/parts/button_user_delete.png')}}" />
 <img class="preload" src="{{asset('/bundles/kanaheigame/images/parts/button_change_password.png')}}" />
 <img class="preload" src="{{asset('/bundles/kanaheigame/images/parts/button_change_mailaddress.png')}}" />
</div>
</div>
{% endblock %}
