{% extends "MachigaiAdminBundle::base.html.twig" %}

{% block contents -%}
    <h1>アイテムグループ</h1>
	<a href="{{ path('item') }}">アイテム一覧に戻る</a><br />
	<a href="{{ path('itemgroup') }}">アイテムグループ一覧に戻る</a>｜<a href="{{ path('itemgroup_edit', { 'groupCode': entity.groupCode }) }}">編集</a>

    <table class="table table-striped table-bordered table-hover compact">
        <tbody>
            <tr>
                <th width="20%">グループコード</th>
                <td>{{ entity.groupCode }}</td>
            </tr>
            <tr>
                <th>グループ名</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

	{{ form(delete_form) }}
	
{% endblock %}
