{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}ランキング{% endblock %}

{% block body %}
<script>
var month = 0;
var mode = 2;
var image_path = null;
var image_id = null;
var current_level = "easy";
var monthTab = "this_month";

var droid = function(){}
droid.getBack = function(){window.location = '{{path('Top')}}';};
$(function(){
	$('.game_lavel_2').hide();
	$('.game_lavel_3').hide();
	$('#previous_month').hide();
})
function change_show_conditions(data){
	var another_month = new Array(1,2);
	var other_mode = new Array(1,2,3);
	if(data < 2){
		if(data == 0){
			$('#previous_month').hide();
			$('#current_month').show();
		}else{
			$('#current_month').hide();
			$('#previous_month').show();
		}
	}else{
		mode = data-2;
		var chosen_mode = data-1;
		chosen_mode = '.game_lavel_'+chosen_mode;
		other_mode.splice(mode,1);
		other_mode1 = '.game_lavel_'+other_mode[0];
		other_mode2 = '.game_lavel_'+other_mode[1];
		$(other_mode1).hide();
		$(other_mode2).hide();
		$(chosen_mode).show();	
	};
}
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
function changeTab(level){
	if(current_level!=level){
	var other_mode = new Array('easy','normal','hard');
		var mode = new Array()
		mode['easy'] = 0;
		mode['normal'] = 1;
		mode['hard'] = 2;
		other_mode.splice(mode[level],1);
		other_mode1 = '#'+other_mode[0];
		other_mode2 = '#'+other_mode[1];
		chosen_mode = "#"+level;

		var pre_src = $(chosen_mode).attr('src');
		var src = pre_src.replace(/.png/g,'_off.png');
		var pre_not1 = $(other_mode1).attr('src');
		var not1 = pre_not1.replace(/_off.png/g,'.png');
		var pre_not2 = $(other_mode2).attr('src');
		var not2 = pre_not2.replace(/_off.png/g,'.png');
		$(chosen_mode).attr("src",src);
		$(other_mode1).attr("src",not1);
		$(other_mode2).attr("src",not2);
		current_level = level;
	}
}
function changeMonth(month){
	if(monthTab!=month){
	if(month=="this_month"){
		other = "last_month";
	}else{
		other = "this_month";
	}
		var pre_src = $('#'+month).attr('src');
		var src = pre_src.replace(/.png/g,'_off.png');
		var pre_not = $('#'+other).attr('src');
		var not = pre_not.replace(/_off.png/g,'.png');
		$('#'+month).attr("src",src);
		$('#'+other).attr("src",not);
		monthTab = month;
	}
}
window.onload = function(){		
	var j = 1;
	while(j <= 3){
		var i = 1;
		while(i <= 10){
			var previousTime = $('.lavel_'+j+'previousMonthTime'+i).html();
			previousTime = Time.milliSecondsToArray(previousTime)[0]+":"+Time.milliSecondsToArray(previousTime)[1]+":"+Time.milliSecondsToArray(previousTime)[2];
			$('.lavel_'+j+'previousMonthTime'+i).html(previousTime);

			var currentTime = $('.lavel_'+j+'currentMonthTime'+i).html();
			currentTime = Time.milliSecondsToArray(currentTime)[0]+":"+Time.milliSecondsToArray(currentTime)[1]+":"+Time.milliSecondsToArray(currentTime)[2];
			$('.lavel_'+j+'currentMonthTime'+i).html(currentTime);
			i++
		};
		j++
	}
}

</script>
<img src="{{ asset('/bundles/machigaigame/images/parts/2-02_bg.png') }}" style="position:absolute;left:0;top:0;width:100%;height:160%;"/>

<img src="{{ asset('/bundles/machigaigame/images/parts/header_ranking.png') }}" style="position:absolute;left:0;top:0;width:100%;height:auto;"/>
<section style="position:relative;margin-top:10%">
<div id="month_tab" class="bottom_blue_line" style="padding:5% 0 0 0;">
	<img id="this_month" src="{{ asset('/bundles/machigaigame/images/parts/tab_ranking_thismonth_off.png') }}" width="47%" style="padding-right:2%;" onclick="changeMonth(this.id);change_show_conditions(0)"/>
	<img id="last_month" src="{{ asset('/bundles/machigaigame/images/parts/tab_ranking_lastmonth.png') }}" width="47%" onclick="changeMonth(this.id);change_show_conditions(1)"/>
</div>
<div id="level_tab" style="padding-top:0.5%;">
	<img id="easy" src="{{ asset('/bundles/machigaigame/images/parts/tab_easy_off.png') }}" width="30%" onclick="changeTab(this.id);change_show_conditions(2)"/>
	<img id="normal" src="{{ asset('/bundles/machigaigame/images/parts/tab_normal.png') }}" width="30%" onclick="changeTab(this.id);change_show_conditions(3)"/>
	<img id="hard" src="{{ asset('/bundles/machigaigame/images/parts/tab_hard.png') }}" width="30%" onclick="changeTab(this.id);change_show_conditions(4)"/>
</div>
<div id="ranking_area" class="bottom_blue_line" style="width: 100%;background: url({{ asset('/bundles/machigaigame/images/parts/shop_contentdetailarea.png') }}); background-size:cover;background-repeat:no-repeat; " >
 <ul id="panel" style="padding-top:0.8%; ">

<div style="font-size:1em">
 <div id="current_month">
  {% for rank in ranking_this_month %}
  <div class="game_lavel_{{rank.getLevel()}}">
   <li id="tab1" style="display:block; text-align:left; padding:1%; border: 1px solid rgb(253,138,55)">
    <span>{{ rank.getRank() }}位 </span>{{rank.User.nickname()}}<br />
    <span>タイム　</span><div style="position:relative;left:-55%;float:right;" class="lavel_{{rank.getLevel()}}currentMonthTime{{ rank.getRank() }}">{{rank.getClearTime()}}</div>
   </li>
  </div>
  {% endfor %}
 </div>

  <div id="previous_month">
  {% for rank in ranking_previous_month %}
  <div class="game_lavel_{{rank.getLevel()}}">
   <li id="tab1" style="display:block; text-align:left; padding:1%; border: 1px solid rgb(253,138,55)">  	
    <span>{{ rank.getRank() }}位 </span>{{rank.User.nickname()}} さん<br />
    <span>タイム</span><div style="position:relative;left:-55%;float:right;" class="lavel_{{rank.getLevel()}}previousMonthTime{{ rank.getRank() }}">{{rank.getClearTime()}}</div>
   </li>
  </div>
  {% endfor %}
</div>
</div>

 </ul>
</div>
</section>
 <footer style="position:relative;margin:25% auto 5% auto;">
     <a href="/top"><img id="toapptop" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" width="35%" onclick="changeImage(this.id);"></a>
 </footer>
{% endblock %}
