{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}ランキング{% endblock %}

{% block body %}
<script>
var month = 0;
var mode = 2;
$(function(){
	$('.game_lavel_2').hide();
	$('.game_lavel_3').hide();
	$('#previous_month').hide();
})
function change_show_conditions(data){
	var another_month = new Array(1,2);
	var other_mode = new Array(1,2,3);
	if(data < 2){
		if(data == 0){
			$('#previous_month').hide();
			$('#current_month').show();
		}else{
			$('#current_month').hide();
			$('#previous_month').show();
		}
	}else{
		mode = data-2;
		var chosen_mode = data-1;
		chosen_mode = '.game_lavel_'+chosen_mode;
		other_mode.splice(mode,1);
		other_mode1 = '.game_lavel_'+other_mode[0];
		other_mode2 = '.game_lavel_'+other_mode[1];
		$(other_mode1).hide();
		$(other_mode2).hide();
		$(chosen_mode).show();	
	};
}
</script>
<img src="{{ asset('/bundles/machigaigame/images/parts/header_ranking.png') }}" width="100%"/>
<section>
<div id="month_tab" class="bottom_blue_line" style="padding:5% 0 0 0;">
	<img id="this_month" src="{{ asset('/bundles/machigaigame/images/parts/tab_ranking_thismonth.png') }}" width="47%" style="padding-right:2%;" onclick="change_show_conditions(0)"/>
	<img id="last_month" src="{{ asset('/bundles/machigaigame/images/parts/tab_ranking_lastmonth.png') }}" width="47%" onclick="change_show_conditions(1)"/>
</div>
<div id="level_tab" style="padding-top:0.5%;">
	<img id="easy" src="{{ asset('/bundles/machigaigame/images/parts/tab_easy.png') }}" width="30%" onclick="change_show_conditions(2)"/>
	<img id="normal" src="{{ asset('/bundles/machigaigame/images/parts/tab_normal_off.png') }}" width="30%" onclick="change_show_conditions(3)"/>
	<img id="hard" src="{{ asset('/bundles/machigaigame/images/parts/tab_hard_off.png') }}" width="30%" onclick="change_show_conditions(4)"/>
</div>
<div id="ranking_area" class="bottom_blue_line" style="width: 100%;height:300px; overflow-y:scroll; background: url({{ asset('/bundles/machigaigame/images/parts/shop_contentdetailarea.png') }}); background-size: 100% auto; " >
 <ul id="panel" style="padding-top:0.8%; ">

 <div id="current_month">
  {% for rank in ranking_this_month %}
  <div class="game_lavel_{{rank.getLevel()}}">
   <li id="tab1" style="display:block; text-align:left; padding:1%; border: 1px solid rgb(253,138,55)">
    <span>{{ rank.getRank() }}位 </span><br />
    <span>タイム　</span>{{rank.getClearTime()}} 
   </li>
  </div>
  {% endfor %}
 </div>

  <div id="previous_month">
  {% for rank in ranking_previous_month %}
  <div class="game_lavel_{{rank.getLevel()}}">
   <li id="tab1" style="display:block; text-align:left; padding:1%; border: 1px solid rgb(253,138,55)">  	
    <span>{{ rank.getRank() }}位 </span><br />
    <span>タイム　</span>{{rank.getClearTime()}} 
   </li>
  </div>
  {% endfor %}
 </div>
 
 </ul>
</div>
</section>
<p style="padding:1%;text-align:left;">毎月末日 24:00時点での順位に応じてポイントが付与されます。<br />ランキングに挑戦するにはauIDログインが必要です。</p>
 <footer style="margin:3% auto 5% auto;">
  <a href="{{path('Top')}}" style="margin-right:7%;"><img src="{{ asset('/bundles/machigaigame/images/parts/button_toapptop.png')}}" width="35%"></a>
 </footer>
{% endblock %}
