{% block stylesheets %}
	<style type="text/css">
	<!--
		.pagetitle{border: solid 3px; font-size: 80px; color: white;background-color: pink;height: 80px;padding: 20px;}
		.texttitle{font-size: 30px; text-align:left; padding: 20px; font-weight: bold}
	</style>
{% endblock %}

{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}MachigaiGameBundle:Gallery:index{% endblock %}

{% block body %}
<!-- ヘッダータイトル -->
<div class="pagetitle">ギャラリー</div>

<table style="font-size: 20px; width:100%;">
	{% for entity in purchasedItems %}
	<tr>
	<td style="width: 50%; padding: 2% 0 0 10%;">
  		<!-- サムネイル画像 -->
    	<img src="{{ asset(entity.item.getItemThumPath) }}" style="width:100%; border:solid 5px green;"/>
    </td>
    <td style="padding: 2% 0 0 5%; text-align: left; vertical-align: top;">
    	<!-- アイテムタイトル -->
		{{entity.item.name}}
	    <br />
	    <!-- アイテムカテゴリ名 -->
	    {{entity.item.category.name}}
	    <br />
	    <!-- アイテムグループ名 -->
	    {{entity.item.group.name}}
	    <br />
    	<!-- アイテム説明 -->
		{{entity.item.getDescription}}

		<div style="width:40%;">
        	<!-- 消費ポイント -->
        	<p style="font-size:1.3em">{{entity.item.getConsumePoint}}pt</p><br />
        	
        	<!-- ダウンロードボタン -->
        	<span class="detail">
    			<a href="{{ path('confirm',{"id":entity.item.getId}) }}">
    				<img id="shopredl{{entity.item.getId}}" src="{{ asset('/bundles/machigaigame/images/parts/button_shopredl_off.png') }}" width="100%;" onclick="changeImage(this.id);"/>
    			</a>
        	</span>
    	</div>
	</td>
	</tr>
	{% endfor %}
</table>

	<!-- ページング -->
	{% if maxPage > 1 %}
	<nav style="padding-top:3%;position:relative">
		{% if page != 1 %}
		<!-- ◁ ボタン -->
		<a style="padding-right:20%;"
			href={{ path('Gallery',{"page":page-1 }) }}>
			<img src="{{ asset('/bundles/machigaigame/images/parts/button_page_back.png')  }}"
					width="7.5%"
					id="prev"/>
		</a>
		{% endif %}

		<span>
			<span class="page">{{ page }}</span> / <span id="maxPage">{{ maxPage }}</span>
		</span>

		<!-- ▷ ボタン -->
		{% if page != maxPage %}
		<a style="padding-left:20%;"
			href={{ path('Gallery',{"page":page+1 }) }}>
			<img src="{{ asset('/bundles/machigaigame/images/parts/button_page_next.png')  }}"
					width="7.5%" id="next" />
		</a>
		{% endif %}
	</nav>
	{% endif %}

{% block javascripts %}
<script>
</script>
{% endblock %}

<footer style="margin:3% auto 5% auto;position:relative">
	<img id="toTopImage" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" width="30%" onclick="changeImage(this.id);javascript: goTop();">
	<img id="preToTopImage" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" class="preload">
</footer>

{% endblock %}
