{% extends "KanaheiGameBundle::base.html.twig" %}

{% block title %}スタンプ付き間違い探し放題{% endblock %}

{% block body %}
<style>
    p {
        font-size: 0.8em;
    }
    body {
        background-image: url({{ asset('/bundles/kanaheigame/images/parts/top_bg.png')}});
    }
    
</style>
<img src="{{ asset('/bundles/kanaheigame/images/parts/header.png')  }}" width="100%" />
<p>
    <br />
    応募完了致しました。<br />
    引き続きまちがいさがしをお楽しみ下さい。<br />
    <br />
</p>
<div>
    <br />
    <a href="{{path('Top')}}" /><img id="toTopImage" src="{{ asset('/bundles/kanaheigame/images/parts/button_back_totop_off.png')}}" width="35%" onclick="changeImage(this.id);" />    
    <img id="preToTopImage" class="preload" src="{{ asset('/bundles/kanaheigame/images/parts/button_back_totop.png')}}"  /></a>
</div>
</p>
<br />

{% endblock %}


