
{% block title %}遊び方{% endblock %}

{% block contents %}
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-1.10.2.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script type='text/javascript' src="{{ asset('bundles/machigaigame/js/jquery.timer.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/timeCalculater.js') }}"></script>
<script>
var image_path = null;
var image_id = null;
function changeImage(imageId){
	var pre_src = $('#'+imageId).attr('src');
	var src = pre_src.replace(/_off/g,'');
	image_path = src;
	image_id = imageId;
	$('#'+imageId).attr("src",src);
	setTimeout("originalImage();", 200);
}
function originalImage(){
	var pre_src = $('#'+image_id).attr('src');
	var src = image_path.replace(/.png/g,'_off.png');
	$('#'+image_id).attr("src",src);
}
</script>

<style>
p{padding:2%}
</style>
<img src="{{ asset('/bundles/machigaigame/images/parts/2-04-2_bg.PNG')  }}" style="position:absolute;left:0%;top:0%;width:100%;height:auto;opacity:1;"/>

<img src="{{ asset('/bundles/machigaigame/images/parts/header_help.png')  }}" width="100%" style="position:absolute;left:0%;top:0%"/>
<img src="{{ asset('/bundles/machigaigame/images/parts/header_help_asobikata.png')  }}" width="100%" style="position:absolute;left:0%;top:10%"/>


<img src="{{ asset('/bundles/machigaigame/images/parts/header_asobikata_game.png')  }}" style="position:absolute;left:0%;top:19%;width:100%"/>

<div style="position:relative;margin-top:35%;width:100%">
<img src="" style="margin-left:20%;" alt="ゲーム画面イメージ" width="350px" height="280px"/>
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストトテキストトテキストテキストテキストテキスト</p>
<table>
 <tr><th><img width="200px" height="200px" src="" alt="問題イラスト" /></th><td><h3>拡大縮小</h3><p>テキストテキストテキストテキストテキストテキストテキスト</p></td></tr>
 <tr><th><img width="200px" height="200px" src="" alt="おてつき" /></th><td><h3>おてつき</h3><p>テキストテキストテキストテキストテキストテキストテキスト</p></td></tr>
 <tr><th><img width="200px" height="200px" src="" alt="ヒントボタン" /></th><td><h3>ヒント</h3><p>テキストテキストテキストテキストテキストテキストテキスト</p></td></tr>
 <tr><th><img width="200px" height="200px" src="" alt="保存して中断" /></th><td><h3>保存して中断</h3><p>テキストテキストテキストテキストテキストテキストテキスト</p></td></tr>
 <tr><th><img width="200px" height="200px" src="" alt="ギブアップ" /></th><td><h3>ギブアップ</h3><p>テキストテキストテキストテキストテキストテキストテキスト</p></td></tr>
</table>
</div>

<div id="ranking" style="margin-top:4%">
<img src="{{ asset('/bundles/machigaigame/images/parts/header_asobikata_ranking.png')  }}"  style="width:100%;position:relative;"/>
<table>
 <tr><th><img width="200px" height="200px" src="" alt="ランキング"/></th><td><p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></td></tr>
</table>
</div>

<div id="shop" style="position:relative;margin-top:5%">
<img src="{{ asset('/bundles/machigaigame/images/parts/header_asobikata_shop.png')  }}" width="100%" style=""/>
<table>
 <tr><th><img width="200px" height="200px" src="" alt="ショップイメージ" /></th><td><p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p></td></tr>
</table>
</div>

<a href="{{ path('Help') }}"><img id="tohelptop" style="position:relative;margin-left:20%;margin-top:10%" src="{{asset('/bundles/machigaigame/images/parts/buttom_return_helptop_off.png')}}" width="60%" onclick="changeImage(this.id)"/></a>

{% endblock %}
