{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}ヘルプ{% endblock %}

{% block contents %}
<img src="{{asset('/bundles/machigaigame/images/parts/2-04-4-3_bg.png')}}" style="position:absolute;top:0%;left:0%;width:100%;height:auto"/>
<img src="{{ asset('/bundles/machigaigame/images/parts/header_help.png')  }}" width="100%" style="position:absolute;left:0%;top:0%"/>
<img src="{{asset('/bundles/machigaigame/images/parts/header_otoiawase_sendend.png')}}" width="100%" style="position:absolute;top:10%;left:0%"/>

<div style="position:relative;margin-top:55%">
<a href="{{path('Top')}}"><img id="toapptop" src="{{ asset('/bundles/machigaigame/images/parts/button_returnto_top_off2.png')}}" width="65%" onclick="changeImage(this.id)" /></a>
<img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_returnto_top2.png')}}"/>
</div>
{% endblock %}
