<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}間違い探し{% endblock %}</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width,  initial-scale=1.0,maximum-scale=1, user-scalable=no" />
	<meta name="mobile-web-app-capable" content="yes">
        <meta name="float-menu" content="kanahei.puzzle-m.net/">
	<script type='text/javascript' src="{{ asset('bundles/kanaheigame/js/jquery-1.10.2.min.js') }}"></script>
	<script type='text/javascript' src="{{ asset('bundles/kanaheigame/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
	<script type='text/javascript' src="{{ asset('bundles/kanaheigame/js/jquery.timer.js') }}"></script>
	<script type='text/javascript' src="{{ asset('bundles/kanaheigame/js/android.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/kanaheigame/js/common.js') }}"></script>
	<link rel="stylesheet" src="{{ asset('bundles/kanaheigame/css/html5reset-1.6.1.css')  }}" />
	<link rel="stylesheet" src="{{ asset('bundles/kanaheigame/css/no-theme/jquery-ui-1.10.3.custom.min.css')  }}" />
	<style>
	 body,header,section,footer,div,p,*{padding:0;margin:0;border:0;}
	.popup{z-index:100;position:fixed;background-color:rgba(0,0,0,0.5);width:100%;height:100%;text-align:center;color:white;}
	.popup_answer{margin:auto;position:fixed;top:28%;text-align:center;}
	.popup_image{text-align:center;}
	.hidden{visibility:hidden}
	.popup_answer2{position:fixed;top:70%;width:50%;left:25%;}
	.popup_answer_yes{}
	.popup_answer_no{}
	ul{list-style-type:none;}
	</style>
        {% block stylesheets %}{% endblock %}
</head>
<body scroll="no" style="padding:0;margin:0;" ontouchmove="event.preventDefault();">
	{% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-49132943-1']);
  _gaq.push(['_setDomainName', 'puzzle-m.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

