{% extends "KanaheiGameBundle:Game:finish.html.twig" %}

{% block comment %}
残念！<br />もう一度チャレンジしよう！
{% endblock %}

{% block menu %}
 <button onclick="location='{{ path('GameSelect')}}'">リトライ</button>
 <button onclick="location='{{ path('GameSelect')}}'">ほかの問題で遊ぶ</button>
 <button onclick="location='{{ path('Shop')}}'">ショップ</button>
 <button onclick="location='{{ path('Ranking')}}'">ランキング</button>
 <p>auIDログインをすれば楽しみがいっぱい！TOPからログインしてね！</p>
 <button onclick="location='{{ path('Top')}}'">アプリTOPへ</button>
{% endblock %}
